<template>
	<div>

   <table class="table table-striped- table-bordered table-hover table-checkable" id="cli">
     <thead>
       <tr>
        	<th scope="col">#</th>
        	<th scope="col">Nombre</th>
      		<th scope="col">Apellido</th>
      		<th scope="col">Email</th>
      		<th scope="col">Username</th>
      		<th scope="col">Cedular</th>
            <!--th scope="col">Dirección</th-->
            <!--th scope="col">Barrio</th-->
            <!--th scope="col">Ciudad</th-->
            <!--th scope="col">Celular</th-->
            <th scope="col">Estado</th>
            <th scope="col">Permisos</th>
            <th scope="col">Creado</th>
      		<th scope="col">Action</th>
       </tr>
     </thead>
     <tbody>
       <tr v-for= "cli  in users" :key="cli.id">
        <th scope="row">{{ cli.id}}</th>
        <td>{{cli.name}}</td>
        <td>{{cli.apellido}}</td>
        <td>{{cli.email}}</td>
        <td>{{cli.username}}</td>
        <td>{{cli.cedula}}</td>
        <td>
         <div v-if="cli.active == 1">
             <span class="kt-badge kt-badge--success kt-badge--inline">Activo</span>
            </div>
            <div v-if="cli.active == 0">
              <span class="kt-badge kt-badge--danger kt-badge--inline">Bloqueado</span>
            </div>
        </td>
        <td>{{cli.tipo_role}}</td>
        <td>{{cli.created_at}}</td>
         <td>
          <b-button-toolbar>
            <b-button-group class="mr-1">
                <b-button title="Mas detalles" @click="viewModal(cli.id)">
                    <b-icon icon="eye" aria-hidden="true"></b-icon>
                </b-button>
               <div v-if="cli.active ==0">
                <b-button title="Activar" @click="activar(cli.id)">
                  <b-icon icon="unlock" aria-hidden="true"></b-icon>
                </b-button>
              </div>
                <div v-if="cli.active ==1">
                <b-button title="Bloquear" @click="bloquear(cli.id)">
                  <b-icon icon="lock" aria-hidden="true"></b-icon>
                </b-button>
              </div>
            </b-button-group>
          </b-button-toolbar>
		</td>
       </tr>

     </tbody>
   </table>
   <div>
     <!--ver usuario -->
  <b-modal ref="my-modal" hide-backdrop :header-bg-variant="headerBgVariant"
      :header-text-variant="headerTextVariant" hide-header-close>
       <template v-slot:modal-title   #modal-header>
        <h2 class="titulo-pro">SCREENSHOT</h2>
      </template>
	  	<div class="usuario-pro">
        <p class="texto-pro" v-for="name in name" :key="name"><span class="negrilla">Name: </span> {{name}}</p>
        <p class="texto-pro" v-for="name in apellido" :key="name"><span class="negrilla">Apellido: </span> {{name}}</p>
        <p class="texto-pro" v-for="name in email" :key="name"><span class="negrilla">Email: </span> {{name}}</p>
        <p class="texto-pro" v-for="name in username" :key="name"><span class="negrilla">Username: </span> {{name}}</p>
        <p class="texto-pro" v-for="name in cedula" :key="name"><span class="negrilla">Cedula: </span> {{name}}</p>
        <p class="texto-pro" v-for="name in celular" :key="name"><span class="negrilla">Celular: </span> {{name}}</p>
        <p class="texto-pro" v-for="name in permiso " :key="name"><span class="negrilla">Permisos: </span> {{name}}</p>
       	</div>

    <template v-slot:modal-footer>
        <div class="w-100">
          <b-button
            variant="primary"
            size="sm"
            class="float-right"
            @click="closeModal"
          >

            Salir
          </b-button>
        </div>
      </template>
  	</b-modal>
  </div>
  </div>
</template>
<style scoped>
  /deep/ .my-class {
    background: black;
    color: white;
  }

  /deep/ .my-second-class > .modal-dialog > .modal-content > .modal-header {
    background: black;
    color: white;
  }

  /deep/.imagen-pro{
    max-width: 100%;
  }
</style>
<script>
    import datables from 'datatables.net'
    import notify from 'bootstrap-notify'
    var urlUser= "/table-clientes/";



    export default {
        mounted() {
            this.getAdmins()
        },
        data(){
            return{
                users: [],
                variants: ['primary', 'secondary', 'success', 'warning', 'danger', 'info', 'light', 'dark'],
                headerBgVariant: 'dark',
                headerTextVariant: 'light',
                tableData: [],
                name:[],
                apellido:[],
                email:[],
                username:[],
                cedula:[],
                direccion:[],
                barrio:[],
                ciudad:[],
                celular:[],
                permiso:[]
            }
        },
        methods:{
            mytable(){

	                $(function() {
	                $('#cli').DataTable({
                      'order'       : [[ 1, 'desc' ]],
                  });
               	});
            },
           	getAdmins(){
                axios.get(urlUser).then(response=>{
                    this.users = response.data;
                    this.mytable()
                });
              },
            viewModal(id) {
                this.name.splice('')
                this.apellido.splice('')
                this.email.splice('')
                this.username.splice('')
                this.cedula.splice('')
                this.celular.splice('')
                this.permiso.splice('')
                    axios.get(urlUser + 'view/' + id).then(response=>{
                    var userView = response;
                    this.$refs['my-modal'].show()
                    this.name.push(userView.data.name)
                    this.apellido.push(userView.data.apellido)
                    this.email.push(userView.data.email)
                    this.username.push(userView.data.username)
                    this.ciudad.push(userView.data.ciudad)
                    this.permiso.push(userView.data.tipo_role)
                    this.celular.push(userView.data.celular)
                });
            },
            bloquear(id){
                 axios.get(urlUser + 'bloquear/' + id).then(response=>{
                     if (!response.data.status) {
                         if (response.data.msm == 'admin') {
                            $.notify({
                            // options
                                message: 'Error, El usuario que desea desactivar es esencial para la aplicación.'
                            },{
                            // settings
                            type: 'danger'
                            });
                         }
                     }

                     if (response.data.status) {
                        $.notify({
                        // options
                        message: 'Bloqueado.'
                        },{
                        // settings
                        type: 'success'
                        });
                        this.users = response.data.user;
                     }
                });
            },
            activar(id){
                 axios.get(urlUser+ 'activar/' +id).then(response=>{
                     if (!response.data.status) {
                         if (response.data.msm == 'admin') {
                            $.notify({
                            // options
                                message: 'Error, El usuario que desea desactivar es esencial para la aplicación.'
                            },{
                            // settings
                                type: 'danger'
                            });
                         }
                     }



                     if (response.data.status) {
                        $.notify({
                        // options
                            message: 'Activado.'
                        },{
                        // settings
                            type: 'success'
                        });
                        this.users = response.data.user;
                     }
                });
            },


            closeModal(){
                this.$refs['my-modal'].hide()
            },

        }
    }
</script>
