<template>
	<div>
    <div>
        <b-button variant="success"  @click="crear()">Nuevo</b-button>
    </div>
    <br>
   <table class="table table-striped- table-bordered table-hover table-checkable" id="adm">
     <thead>
       <tr>
        	<th scope="col">#</th>
        	<th scope="col">Nombre</th>
      		<th scope="col">Apellido</th>
      		<th scope="col">Email</th>
      		<th scope="col">Username</th>
      		<th scope="col">Cedular</th>
            <!--th scope="col">Dirección</th-->
            <!--th scope="col">Barrio</th-->
            <!--th scope="col">Ciudad</th-->
            <!--th scope="col">Celular</th-->
            <th scope="col">Estado</th>
            <th scope="col">Permisos</th>
            <th scope="col">Creado</th>
      		<th scope="col">Action</th>
       </tr>
     </thead>
     <tbody>
       <tr v-for= "adm  in users" :key="adm.id">
        <th scope="row">{{ adm.id}}</th>
        <td>{{adm.name}}</td>
        <td>{{adm.apellido}}</td>
        <td>{{adm.email}}</td>
        <td>{{adm.username}}</td>
        <td>{{adm.cedula}}</td>
        <td>
         <div v-if="adm.active == 1">
             <span class="kt-badge kt-badge--success kt-badge--inline">Activo</span>
            </div>
            <div v-if="adm.active == 0">
              <span class="kt-badge kt-badge--danger kt-badge--inline">Bloqueado</span>
            </div>
        </td>
        <td>{{adm.tipo_role}}</td>
        <td>{{adm.created_at}}</td>
         <td>
          <b-button-toolbar>
            <b-button-group class="mr-1">
                <b-button title="Mas detalles" @click="viewModal(adm.id)">
                    <b-icon icon="eye" aria-hidden="true"></b-icon>
                </b-button>
               <div v-if="adm.active ==0">
                <b-button title="Activar" @click="activar(adm.id)">
                  <b-icon icon="unlock" aria-hidden="true"></b-icon>
                </b-button>
              </div>
                <div v-if="adm.active ==1">
                <b-button title="Bloquear" @click="bloquear(adm.id)">
                  <b-icon icon="lock" aria-hidden="true"></b-icon>
                </b-button>
              </div>
              <b-button title="Editar" @click="editar(adm.id)">
                    <b-icon icon="brush" aria-hidden="true"></b-icon>
                </b-button>
            </b-button-group>
          </b-button-toolbar>
		</td>
       </tr>

     </tbody>
   </table>
   <div>
     <!--ver usuario -->
  <b-modal ref="my-modal" hide-backdrop :header-bg-variant="headerBgVariant"
      :header-text-variant="headerTextVariant" hide-header-close>
       <template v-slot:modal-title   #modal-header>
        <h2 class="titulo-pro">SCREENSHOT</h2>
      </template>
	  	<div class="usuario-pro">
        <p class="texto-pro" v-for="name in name" :key="name"><span class="negrilla">Name: </span> {{name}}</p>
        <p class="texto-pro" v-for="name in apellido" :key="name"><span class="negrilla">Apellido: </span> {{name}}</p>
        <p class="texto-pro" v-for="name in email" :key="name"><span class="negrilla">Email: </span> {{name}}</p>
        <p class="texto-pro" v-for="name in username" :key="name"><span class="negrilla">Username: </span> {{name}}</p>
        <p class="texto-pro" v-for="name in cedula" :key="name"><span class="negrilla">Cedula: </span> {{name}}</p>
        <p class="texto-pro" v-for="name in celular" :key="name"><span class="negrilla">Celular: </span> {{name}}</p>
        <p class="texto-pro" v-for="name in permiso " :key="name"><span class="negrilla">Permisos: </span> {{name}}</p>
       	</div>

    <template v-slot:modal-footer>
        <div class="w-100">
          <b-button
            variant="primary"
            size="sm"
            class="float-right"
            @click="closeModal"
          >

            Salir
          </b-button>
        </div>
      </template>
  	</b-modal>
  </div>

<!-- crear usuario -->
 <div>
  <b-modal ref="my-modal-create" hide-backdrop :header-bg-variant="headerBgVariant"
      :header-text-variant="headerTextVariant" hide-header-close>
       <template v-slot:modal-title   #modal-header>
        <h2 class="titulo-pro">SCREENSHOT</h2>
      </template>
      <form @submit="enviarCreado">
	  	<div class="usuario-pro">
            <span class="negrilla">Nombre: <input v-model="name_input" placeholder="Nombre" required></span><br><br>
            <span class="negrilla">Apellido: <input v-model="apellido_input" placeholder="Apellido" required></span><br><br>
            <span class="negrilla">Email: <input v-model="email_input" placeholder="Email" required></span><br><br>
            <span class="negrilla">Username: <input v-model="username_input" placeholder="Username" required></span><br><br>
            <span class="negrilla">Tipo de documento: </span>
            <select v-model="selected_doc">
                <option v-for="tipo in tipo_documento" v-bind:value="tipo.id">
                    {{ tipo.name }}
                </option>
            </select>
            <span class="negrilla">Cedula: <input v-model="cedula_input" placeholder="Cedula" required></span><br><br>
            <span class="negrilla">Celular: <input v-model="celular_input" placeholder="Celular" required></span><br><br>
             <span class="negrilla">Permiso: </span>
            <select v-model="selected_perm">
                <option v-for="perm in permiso_selec" v-bind:value="perm.id">
                    {{ perm.name }}
                </option>
            </select>
        </div>
    </form>

    <template v-slot:modal-footer>
        <div class="w-100">
          <b-button
            variant="success"
            size="sm"
            class="float-left"
            @click="enviarCreado"
          >
            Guardar
          </b-button>
          <b-button
            variant="primary"
            size="sm"
            class="float-right"
            @click="closeModal"
          >

            Salir
          </b-button>
        </div>
      </template>
  	</b-modal>
      <div>
          <b-modal ref="my-modal-editar" hide-backdrop :header-bg-variant="headerBgVariant"
      :header-text-variant="headerTextVariant" hide-header-close>
       <template v-slot:modal-title   #modal-header>
        <h2 class="titulo-pro">SCREENSHOT</h2>
      </template>
      <form @submit="enviarCreado">
	  	<div class="usuario-pro">
              <input v-model="id_editar" placeholder="Email" type="hidden">
             <span class="negrilla">Permiso: </span>
            <select v-model="selected_perm">
                <option v-for="perm in permiso_selec" v-bind:value="perm.id">
                    {{ perm.name }}
                </option>
            </select><br><br>
             <span class="negrilla">Restablecer contraseña?: </span>
            <select v-model="selected_pw">
                <option v-for="pw in restablece_pw" v-bind:value="pw.id">
                    {{ pw.name }}
                </option>
            </select>
        </div>
    </form>

    <template v-slot:modal-footer>
        <div class="w-100">
          <b-button
            variant="success"
            size="sm"
            class="float-left"
            @click="enviarActualizar"
          >
            Actualizar
          </b-button>
          <b-button
            variant="primary"
            size="sm"
            class="float-right"
            @click="closeModal"
          >

            Salir
          </b-button>
        </div>
      </template>
  	</b-modal>
      </div>
  </div>
  </div>
</template>
<style scoped>
  /deep/ .my-class {
    background: black;
    color: white;
  }

  /deep/ .my-second-class > .modal-dialog > .modal-content > .modal-header {
    background: black;
    color: white;
  }

  /deep/.imagen-pro{
    max-width: 100%;
  }
</style>
<script>
    import datables from 'datatables.net'
    import notify from 'bootstrap-notify'
    var urlUser= "/table-admin/";



    export default {
        mounted() {
            this.getAdmins()
        },
        data(){
            return{
                users: [],
                variants: ['primary', 'secondary', 'success', 'warning', 'danger', 'info', 'light', 'dark'],
                headerBgVariant: 'dark',
                headerTextVariant: 'light',
                tableData: [],
                name:[],
                apellido:[],
                email:[],
                username:[],
                cedula:[],
                direccion:[],
                barrio:[],
                ciudad:[],
                celular:[],
                permiso:[],
                name_input:'',
                apellido_input:'',
                email_input:'',
                username_input:'',
                cedula_input:'',
                direccion_input:'',
                barrio_input:'',
                ciudad_input:'',
                celular_input:'',
                permiso_selec:[
                    {id: 'administrador', name: 'Administrador'},
                    {id: 'operador', name: 'Operador'}
                ],
                tipo_documento:[
                    {id: 1, name: 'CC'},
                    {id: 2, name: 'CE'}
                ],
                restablece_pw:[{id: 1, name: 'Si'}
                ],
                selected_pw:0,
                selected_doc:0,
                selected_perm:'',
                this:'',
                id_editar:''
            }
        },
        methods:{
            mytable(){

	                $(function() {
	                $('#adm').DataTable({
                      'order'       : [[ 1, 'desc' ]],
                  });
               	});
            },
           	getAdmins(){
                axios.get(urlUser).then(response=>{
                    this.users = response.data;
                    this.mytable()
                });
              },
            viewModal(id) {
                this.name.splice('')
                this.apellido.splice('')
                this.email.splice('')
                this.username.splice('')
                this.cedula.splice('')
                this.celular.splice('')
                this.permiso.splice('')
                    axios.get(urlUser + 'view/' + id).then(response=>{
                    var userView = response;
                    this.$refs['my-modal'].show()
                    this.name.push(userView.data.name)
                    this.apellido.push(userView.data.apellido)
                    this.email.push(userView.data.email)
                    this.username.push(userView.data.username)
                    this.ciudad.push(userView.data.ciudad)
                    this.permiso.push(userView.data.tipo_role)
                    this.celular.push(userView.data.celular)
                });
            },
            bloquear(id){
                 axios.get(urlUser + 'bloquear/' + id).then(response=>{
                     if (!response.data.status) {
                         if (response.data.msm == 'admin') {
                            $.notify({
                            // options
                                message: 'Error, El usuario que desea desactivar es esencial para la aplicación.'
                            },{
                            // settings
                            type: 'danger'
                            });
                         }
                     }

                     if (response.data.status) {
                        $.notify({
                        // options
                        message: 'Bloqueado.'
                        },{
                        // settings
                        type: 'success'
                        });
                        this.users = response.data.user;
                     }
                });
            },
            activar(id){
                 axios.get(urlUser+ 'activar/' +id).then(response=>{
                     if (!response.data.status) {
                         if (response.data.msm == 'admin') {
                            $.notify({
                            // options
                                message: 'Error, El usuario que desea desactivar es esencial para la aplicación.'
                            },{
                            // settings
                                type: 'danger'
                            });
                         }
                     }



                     if (response.data.status) {
                        $.notify({
                        // options
                            message: 'Activado.'
                        },{
                        // settings
                            type: 'success'
                        });
                        this.users = response.data.user;
                     }
                });
            },
            crear(id) {
                this.$refs['my-modal-create'].show();
                this.name_input = ''
                this.apellido_input = ''
                this.email_input = ''
                this.username_input = ''
                this.cedula_input = ''
                this.celular_input = ''
                this.selected_doc = ''
                this.selected_per = ''

            },
            enviarCreado(e) {
                let arr =  {name: this.name_input,
                    apellido: this.apellido_input,
                    email: this.email_input,
                    username: this.username_input,
                    cedula: this.cedula_input,
                    celular: this.celular_input,
                    tipo_documento: this.selected_doc,
                    permisos: this.selected_perm}

                for (var key in arr) {
                     if (arr[key]== '') {
                        $.notify({
                        // options
                            message: 'Error, el campo ' + key + ', no puede estar vacio'
                        },{
                        // settings
                            type: 'danger'
                        });
                        return
                    }
                }
                axios.post(urlUser + 'crear', {
                    name: this.name_input,
                    apellido: this.apellido_input,
                    email: this.email_input,
                    username: this.username_input,
                    cedula: this.cedula_input,
                    celular: this.celular_input,
                    tipo_documento: this.selected_doc,
                    permisos: this.selected_perm
                })
                .then(response=>{
                    if (response.data.status) {
                        $.notify({
                            // options
                            message: response.data.msm
                        },{
                            // settings
                            type: response.data.type
                        });
                        this.users = response.data.user;
                        this.$refs['my-modal-create'].hide();
                    }else{
                        $.notify({
                        // options
                            message: response.data.msm
                        },{
                        // settings
                            type: response.data.type
                        });
                    }
                })
                .catch(function (error) {
                    $.notify({
                    // options
                        message: 'Error,' + error
                    },{
                    // settings
                        type: 'danger'
                    });
                });

            },

            editar(id){
                this.selected_pw = 0
                axios.get(urlUser+ 'editar/' +id).then(response=>{
                    this.$refs['my-modal-editar'].show()
                    this.selected_perm = response.data.user.tipo_role
                    this.id_editar = response.data.user.id

                });
            },
            enviarActualizar(e) {
                if (this.selected_pw == 1) {
                    var r = confirm('Esta apunto de restablecer la contraseña de este usuario, esta seguro?.')

                    if (r != true) {
                        this.selected_pw = 0
                        return
                    }
                }
                let arr =  {permisos: this.selected_perm}

                for (var key in arr) {
                     if (arr[key]== '') {
                        $.notify({
                        // options
                            message: 'Error, el campo ' + key + ', no puede estar vacio'
                        },{
                        // settings
                            type: 'danger'
                        });
                        return
                    }
                }
                axios.post(urlUser + 'actualizar', {
                    permisos: this.selected_perm,
                    pw: this.selected_pw,
                    id: this.id_editar
                })
                .then(response=>{
                    if (response.data.status) {
                        $.notify({
                            // options
                            message: response.data.msm
                        },{
                            // settings
                            type: response.data.type
                        });
                        this.users = response.data.user;
                       this.$refs['my-modal-editar'].hide()
                    }else{
                        $.notify({
                        // options
                            message: response.data.msm
                        },{
                        // settings
                            type: response.data.type
                        });
                    }
                })
                .catch(function (error) {
                    $.notify({
                    // options
                        message: 'Error,' + error
                    },{
                    // settings
                        type: 'danger'
                    });
                });

            },

            closeModal(){
                this.$refs['my-modal'].hide()
                this.$refs['my-modal-create'].hide()
                this.$refs['my-modal-editar'].hide()
            },

        }
    }
</script>
