<template>
	 <div>
	  <b-modal ref="my-modal">Hello From My Modal!</b-modal>
	</div>
</template>

<script>
 export default {
   methods: {
     show() {
     this.$refs['my-modal'].show()
     },
   }
 }
</script>