/*metronic*/

// base style
@import "../admDash/src/assets/sass/style";

// skins for admDash only
@import "../admDash/src/assets/sass/global/layout/aside/skins/dark";
@import "../admDash/src/assets/sass/global/layout/brand/skins/dark";
@import "../admDash/src/assets/sass/global/layout/header/skins/base/light";
@import "../admDash/src/assets/sass/global/layout/header/skins/menu/light";

@import "../admDash/src/assets/css/pages/login/login-4";
@import "../admDash/src/assets/css/style.bundle";

/*@import 'node_modules/bootstrap/scss/bootstrap';*/
@import 'node_modules/bootstrap-vue/src/index.scss';

/*---metronic---*/


.table-general-style {
	width: 99%;
	margin: auto;
	/*margin-top: 101px;*/
	float: right;
	.table-style {
		margin-bottom: 10px;
		input {
			width: 175px;
		}
		.control {
			float: right;
		}
	}
	.table {
		width: 100%;
		.sorting {
			background-image: url('/images/sort_both.png');
			background-repeat: no-repeat;
			background-position: center right;
		}
		.sorting_asc {
			background-image: url('/images/sort_asc.png');
			background-repeat: no-repeat;
			background-position: center right;
		}
		.sorting_desc {
			background-image: url('/images/sort_desc.png');
			background-repeat: no-repeat;
			background-position: center right;
		}
	}
	nav a {
		color: white!important;
		margin-right: 10px;
	}
}
h1 {
	text-align: center;
	font-size: 30px;
}
.pagination {
	justify-content: flex-end !important;
	.page-stats {
		align-items: center;
		margin-right: 5px;
	}
	i {
		color: #3273dc !important;
	}
}

/*estilo modal detalle producto o propuesta*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Source+Sans+Pro:wght@400;600&display=swap');
*{
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}
.contenedor-pro{
	width:500px;
	margin: 0 auto;
	box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
	border-radius: 11px;
}
.titulo-pro{
	color: #fff;
	font-family: 'Nunito', sans-serif;
	font-weight:900;
	margin-left:5%;
}
.cabecera-pro{
	border-top-left-radius:11px;
	border-top-right-radius:11px;
	display: grid;
	grid-template-columns: 80% 20%;
	align-items: center;
	background-color: #1c1d2c;
}
.boton-cerrar{
	width: 20px;
	height: 20px;
	background-color: #5288eb;
	color: #fff;
	border-style:none;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
	margin: 0 auto;
}
.imagen-pro{
	max-width: 100%;
}
.contenido-img{
	display: grid;
	grid-template-columns:repeat(5, 1fr);
	column-gap: 1%;
	cursor: pointer;
}
.imagenes-contiene{
	max-width: 100%;
}
.negrilla{
	font-weight: 600;
}
.usuario-pro, .contenido-img{
	padding: 15px;
}
@media (max-width: 533px){
	.contenedor-pro{
		width: 90%;
	}
	.titulo-pro{
		font-size: 20px;
	}
	.texto-pro{
		font-size: 13px;
	}
}
