@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
*{box-sizing:border-box;}
body{
background:#EAEAEA;}
.contenedor{
width:1280px;
margin:0 auto;}
.buscar{
background-image:url(../img/misiones.jpg);
background-repeat:no-repeat;
background-size:100%;
background-position:center;
height:470px;
border-style:none;
outline: 0;
box-shadow:0px 10px 45px #000000;
-webkit-box-shadow:0px 10px 45px #000000;
-moz-box-shadow:0px 10px 45px #000000;}
.barra{
width:400px;
font-size:16px;}
.encontrar{
width:499px;
margin:0 auto;
padding-top:200px;}
.icono{
font-size:20px;
margin:0 10px 0 10px;
color:#fff;}
.boton{
border-style:none;
background:#E69215;
font-size:13px;
padding:5px;
border-radius:7px;
color:#fff;
box-shadow: inset 0 -.2em #A37433 ;
cursor: pointer;
outline: 0;
transition: .2s;}
.boton:active{
transform: scale(.9);
}
.buscando{
width:700px;
margin:0 auto;
margin-top:29px;}
.ingresar, .ingreso{
border-style:none;}
.ingresar{
width:270px;
padding:4px;
font-size:12px;
border-radius:7px;
box-shadow:10px 8px 40px #000000;}
.ingreso{
background:#E69215;
font-size:12px;
padding:5px;
border-radius:7px;
color:#fff;
width:57px;
display:block;
margin:23px auto 0 auto;
box-shadow: inset 0 -.2em #A37433 ;
cursor: pointer;
outline: 0;
transition: .2s;}
.ingreso:active{
transform:scale(.9);
}
.ancho{
margin-left: 10%;}
.perfil{
background:#fff;
height: auto;

}
.columna-1{
width:100%;
color:#000000;
display:inline-block;
height:2155px;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 90px repeat(50, 500px);
grid-gap:10px;
}
.sub-titulo, .sub-titulo-dos{
font-family:'Source Sans Pro', sans-serif;
font-size:70px;
margin:0;
height:70px;}
.sub-titulo{
text-align: center;
grid-column-start:1;
grid-column-end:5;
grid-row-start: 1;
grid-row-end:2;}
.sub-titulo-dos{
color:#E69215;
}
.imagen{
width:100%;
height:250px;
}
.texto{
text-align:center;
font-family: 'Source Sans Pro', sans-serif;
color:#000000;
height:40px;
}
.abajo{
border-bottom:2px solid c;
width:70%;
margin:20px auto;
padding-bottom:8px;
margin-bottom:0;}
.calificacion{
display:inline-block;
font-family: 'Source Sans Pro', sans-serif;
color:#000000;}
.entrar{
text-decoration:none;
}
.mirar{
padding:15px;
width:100px;
margin:10px auto;
text-align:center;
font-family:'Source Sans Pro', sans-serif;
background:#E69215;
color:#FFFFFF;
border-radius:10px;
border-style:none;
box-shadow: inset 0 -.2em #A37433 ;
cursor: pointer;
outline: 0;
transition: .2s;}
.mirar:active{
transform: scale(.9);}

@media screen and (max-width:641px){
.contenedor{
width:100%;}
.buscar{
background-size:100%;
height:240px;}
.ancho{
margin-left: 0;
}
.buscando{
width:75%;
}
.ingresar{
display:block;
width:100%;
margin-top:15px;
height:25px;}
.contiene{
display:block;
}
.encontrar{
padding-top:100px;}
.barra{
width:75%;}
.columna-1{
grid-template-columns:repeat(2, 1fr);
}
.sub-titulo{
grid-column-end: 3;
}
@media screen and (max-width:560px){
.boton{
display:block;
margin:20px auto 0 auto;
}
.barra{
margin-left:16%;
width:55%;}
.buscar{
height:200px;}

@media screen and (max-width:467px){
.boton{
display:block;
margin:20px auto;
width:20%;
}
.encontrar{
padding-top:80px;
width:100%;
}
.barra{
margin-left:4%;
width:80%;}
.buscar{
height:199px;}
@media screen and (max-width:375px){
.boton{
display:block;
margin:20px auto;
}
.encontrar{
padding-top:40px;}
.barra{
margin-left:3%;
width:80%;}
.buscar{
height:152px;}
}
}
}
}

@media screen and (min-width:642px) and (max-width:700px){
.contenedor{
width:100%;}
.buscar{
background-size:100%;
height:300px;}
.col-1{
display:block;
width:100%;}
.ancho{
margin-left:0;
	}
.buscando{
width:75%;
}
.ingresar{
display:block;
width:100%;
margin-top:15px;
height:25px;}
.contiene{
display:block;
}
.columna-1{
grid-template-columns:repeat(2, 1fr);
}
	.sub-titulo{
grid-column-end: 3;
	}
.encontrar{
padding-top:150px;}	
@media screen and (max-width:696px){
.buscar{
height:274px;}
.encontrar{
padding-top:140px;}	
}
}
@media screen and (min-width:701px) and (max-width:957px){
.contenedor{
width:100%;}
.buscar{
background-size:100%;
height:300px;}
.encontrar{
padding-top:150px;}	
.contiene{
display:block;
padding-left:2%;}
.columna-1{
grid-template-columns:repeat(3, 1fr);
}
	.sub-titulo{
grid-column-end: 4;
	}
}
@media screen and (min-width:958px) and (max-width:1028px){
.contenedor{
width:100%;}
.buscar{
background-size:100%;
height:410px;}
.columna-1{
grid-template-columns:repeat(3, 1fr);
}
	.sub-titulo{
grid-column-end: 4;
	}
.ancho{
margin-left: 13%;}

}

@media screen and (min-width:1029px) and (max-width:1266px){
.contenedor{
width:100%;}
.buscar{
background-size:100%;
height:410px;}
.ancho{
margin-left: 13%;}


}