body{
	margin: 0;
background-color:#000;
}
.load{
height: 100%;
opacity: .5;
}
.cargas{
display:grid;
grid-template-columns:repeat(8, 30px);
align-items: center;
justify-content: center;
height: 100vh;
}
.primero-1{
animation-name:segundo;
animation-delay:.1s;
animation-duration:1.5s;
animation-timing-function: ease-in-out;
animation-iteration-count:infinite;
animation-direction: alternate;


}
.segundo{
animation-name:segundo;
animation-delay:.2s;
animation-duration:1.5s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-direction: alternate;

}
.tercero{
animation-name:segundo;
animation-delay:.3s;
animation-duration:1.5s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-direction: alternate;

}
.cuarto{
animation-name:segundo;
animation-delay:.4s;
animation-duration:1.5s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-direction: alternate;

}
.quinto{
animation-name:segundo;
animation-delay:.5s;
animation-duration:1.5s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-direction: alternate;

}
.sexto{
animation-name:segundo;
animation-delay:.6s;
animation-duration:1.5s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-direction: alternate;

}
.septimo{
animation-name:segundo;
animation-delay:.7s;
animation-duration:1.5s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-direction: alternate;

}
.octavo{
animation-name:segundo;
animation-delay:.8s;
animation-duration:1.5s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-direction: alternate;

}


@keyframes segundo{
0%{
transform:translateY(-60px);
}

100%{
transform:translateX(0);
}
}
