@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
*{box-sizing:border-box;}
body{
background:#EAEAEA;
}
.contenedor{
width:800px;
margin:0 auto;}
.editar{
margin:0 auto;
width:80%;
background:#FFFFFF;
}
.creando{
font-size:45px;
font-family: 'Source Sans Pro', sans-serif;
color:#E69215;
text-align:center;
margin:20px 0 0 0;}
.negro{
color:#000000;}
.ver{
	width: 200px;
}
.imagenes, .seleccion, .detalle{
font-family: 'Source Sans Pro', sans-serif;
font-size:14px; 
}
.imagenes{
color:#E69215; 
font-size: 16px;
margin:0;
text-align: center;
padding-top: 15px;
padding-bottom: 10px;
}
.seleccion{
font-weight: bold;
display: block;
padding: 10px 0 10px 0;
margin: 0 0 0 2%;
}
.create{
display: inline-block;
width: 47%;
margin-top:10px;
}
.espacio{
width: 90%;
margin: 0 auto;
padding-left:6%;
}
.mision{
border-style:none;
border-radius:10px;
background-color:#E5E5E5;
width:80%;
height:19px;
margin-left:1%;
padding-left:10px;
	
}
.carpeta{
margin-left:9%;
margin-top:10px;
}
.detalle{
font-weight: bold;
padding-left: 10%;
}
.area{
margin-left: 10%;
border-style: none;
background-color:#E5E5E5;
border-radius: 10px;
width: 80%;
}
.send{
display: block;
width: 90px;
color:#fff;
border-style:none;
background:#E69215;
font-family: 'Source Sans Pro', sans-serif;
margin:10px auto 10px auto;
padding: 6px;
font-size: 13px;
border-radius: 10px;
cursor: pointer;
box-shadow: inset 0 -.2em #A37433 ;	
}
.send:active{
transform:scale(.9);
}
.bloque{
display: block;
padding-bottom: 15px;
}
.load{
list-style:none;
margin:10px auto 0 auto;
padding: 0;
display:grid;
width: 94%;
grid-template-columns:1fr 1fr 1fr;
grid-template-rows: 50% 50%;
grid-gap: 10px;
justify-content: center;
align-items: center;
}
.borrar{
padding:7px;
margin:0px auto;
text-align:center;
font-family:'Source Sans Pro', sans-serif;
background:#E69215;
color:#FFFFFF;
border-radius:10px;
border-style:none;
box-shadow: inset 0 -.2em #A37433 ;
width: 33%;
display: block;
cursor: pointer;}
.borrar:active{
transform:scale(.9);
}
.load-img{
max-width: 100%;
/*width: 50px; height: 50px;*/
}
@media screen and (max-width:480px){
.contenedor{
width:100%;}
.carpeta{
margin-left:25%;
	}
.editar{
	width: 95%;
}
.load{
grid-template-columns: 1fr 1fr;
grid-template-rows: 50% 50% 50%;;
	}
.create{
width: 95%;
}
.ver, .mision {
width: 100%;
}
.espacio{
margin-left: 2%;
		
}
}
@media screen and (min-width:481px) and (max-width:665px){
.contenedor{
width:100%;}
.carpeta{
margin-left:8%;
	}
.editar{
	width: 95%;
}
@media screen and (max-width:617px){
.contenedor{
width:100%;}
.carpeta{
margin-left:35%;
	}
.editar{
	width: 95%;
}
.create{
width: 80%;
}
.ver, .mision {
width: 100%;
}
.espacio{
margin-left: 11%;
}
}	
	}
@media screen and (min-width:666px) and (max-width:792px){
.contenedor{
width:100%;}
	.carpeta{
margin-left:9%;
	}
.editar{
	width: 90%;
}
		
}

.img-upload {
    padding: 4px;
    line-height: 1.6;
    background-color: #f5f8fa;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 20%;
    height: auto;
}








