  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
*{box-sizing:border-box;}
body{
background:#EAEAEA;}
.contenedor{
width:1280px;
margin:0 auto;}
.sub{
text-align:center;
font-family:'Source Sans Pro', sans-serif;
color:#E69215;
font-size:33px;}
.titulo-2{
grid-column-start:1;
grid-column-end:3;
grid-row-start:1;
grid-row-end:2;
}
.correr{
margin:0 auto;
}
.cont-2{
display: grid;
grid-template-columns:60% 40%;
grid-template-rows:58px 62.5% 30%;
grid-row-gap:5%;
grid-column-gap:.5%;
max-width: 1280px;
margin: 0 auto;
}
.sub-mirar{
width: 80%;
display: grid;
justify-content: center;
margin: 0 auto;
padding:0;
}
.pre{
font-family:'Source Sans Pro', sans-serif;
font-weight:bold;
text-align:center;
}
.imagen{
margin-bottom:7px;}
.columna-1{
grid-column-start:1;
grid-column-end:2;
}

.columna-2{
background:#fff;
justify-content: center;
overflow:scroll;
grid-column-start:2;
grid-column-end:3;
height: 500px;
max-height: 500px;

}
.descripcion{
background:#fff;
width:90%;
display:block;
margin:0 auto;
padding:15px;
grid-column-start: 1;
grid-column-end:3;
margin-bottom:70px;
border-radius:15px;
height:max-content;
}
.cont{
z-index:1000;}
.observar{
display:inline-flex;
width:100%;
}
.informa{
text-align:center;
font-family:'Source Sans Pro', sans-serif;
color:#E69215;}
.espaciado{
margin-right:10px;
font-size:30px;}
.usuario{
list-style:none;}
.forma, .correr{
display:inline-block;
font-family:'Source Sans Pro', sans-serif;}
.forma{
font-size:30px;}
.correr, .tamano{
font-weight:bolder;
 }
.tamano{
font-size:25px;	
}
.suav, .unico{
font-weight:lighter;
color:#A19B9C;
font-size:17px;}
.unico{
display: block;
text-align: center;
font-size:19px;
}
.propon{
width:90%;
margin:0 auto;}
.precio{
display:block;
width:200px;
height:30px;
margin:0 auto  10px auto;
font-family:'Source Sans Pro', sans-serif;
}
#insert_image{
display:block;
margin: 0 auto;
}
.envio{
display:block;
border-style:none;
padding:13px;
background:#E69215;
color:#FFFFFF;
border-radius:10px;
font-size:12px;
width:200px;
margin:0 auto;
cursor: pointer;
box-shadow: inset 0 -.2em #A37433 ;}
.envio:active{
transform:scale(.9);
}

.describir{
text-align:center;
color:#E69215;
font-family:'Source Sans Pro', sans-serif;
font-size:22px;
}
.especific{
font-family:'Source Sans Pro', sans-serif;
}
.lista-2{
list-style:none;
margin:0 auto;
padding:0;
display:grid;
width:80%;

grid-row-gap:23px; }
.user{
display: grid;
justify-content: center;
align-items: center;
grid-template-columns:repeat(3, 1fr);
width:100%;
}
.pagar{
text-decoration:none;
padding:8px;
background:#4D9B14;
color:#fff;
border-radius:7px;
font-family:'Source Sans Pro', sans-serif;
text-align: center;
box-shadow: inset 0 -.2em #256629 ;}
.pagar:active{
transform:scale(.9);
}
.avatar{
display: block;
margin: 0 auto;
border-radius: 50%;
}
.palabras{
width: 80%;
background-color: #E5E3E3;
border-style: none;
border-radius: 5px;
font-family:'Source Sans Pro', sans-serif;
display:block;
margin: 0 auto;
}
.usu{
width:100px;
border-radius: 50%;
}
.adver{
display: block;
font-family:'Source Sans Pro', sans-serif;
font-size:14px;
text-align: center;

}
.row{
display:grid;
grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width:499px){
.contenedor{
width:100%;}
.observar{
display:block;}
.columna-1{
display:block;
width:95%;
margin:0 auto;}
.columna-2{
width:95%;
margin:0 auto 20px auto;
height:auto;
display:block}
.informa{
font-size:20px;
padding-top:20px;}
.correr{
text-align:center;
font-size:18px;}
.envio{
margin-bottom:20px;}
.tamano{
font-size: 20px;
width:100%;
text-align:center;
}
.forma{
display:grid;
width:100%;
justify-items:center;
}
.usuario{
width:100%;
display:grid;
justify-items:center;
margin-bottom:17px;
}
.sub-mirar{
padding-left:0;
grid-template-columns:100%;
width:100%;}
.especific{
font-size:14px;
}
.sub{
font-size:28px;}
.espaciado{
display: block;
width: 20px;
margin: 0 auto;
}
.row{
grid-template-columns: repeat(2, 1fr);
}
	.cont-2{
grid-template-columns:100%;
grid-template-rows:96px 35.5% 41.5% 30%;
grid-row-gap:0%;
grid-column-gap:0%;
	}
.columna-1{
grid-column-start: 1;
grid-column-end:3;
}
.columna-2{
grid-column-start: 1;
grid-column-end:3;
}
	.flexslider .slides img{
max-width: 100%;
	}
@media screen and (min-width:453px) and (max-width:497px){
.cont-2{
grid-template-columns:100%;
grid-template-rows:96px 38.5% 41.5% 30%;
grid-row-gap:0%;
grid-column-gap:0%;
}
}
}
@media screen and (min-width:500px) and (max-width:1048px){
.contenedor{
width:100%;}
.columna-2{
justify-content: center;
}
.informa{
font-size:19px;}

.correr{
font-size:19px;
text-align:center;
}
.especific{
font-size:14px;
}
.tamano{
font-size:20px;
width:100%;
}
.sub-mirar{
width:100%;
grid-auto-columns:100%;
justify-items:center;
}
.espaciado{
display:grid;
justify-items:center;
margin:0;
}
.user{
width:80%;
margin:0 auto;
}
	.cont-2{
grid-template-columns:100%;
grid-template-rows:32px 38.5% 34.5% 30%;
	}
.columna-1{
grid-column-start: 1;
grid-column-end:3;
}
.columna-2{
grid-column-start: 1;
grid-column-end:3;
}
}
@media screen and (min-width:1049px) and (max-width:1266px){
.contenedor{
width:100%;}
.columna-2{
}
.forma{
font-size: 20px;
}
.sub-mirar{
width: 70%;
}
.espaciado{
width: 15px;
display: block;
margin: 0 auto;
}
.tamano{
font-size:20px; 
	}
}

