/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 47%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.negrilla {
    font-weight: bold;
}
.detalle {
    padding-bottom: 20px;
}

.column-button {
  float: left;
  width: 47%;
  padding: 10px;
  height: 50px; /* Should be removed. Only for demonstration */
}

.button-modal-close {
    border-style: none;
    padding: 13px;
    background: #dd2f2f;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: 12px;
    width: 148px;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: inset 0 -0.2em #f15353;
}

.button-modal-input {
    border-style: none;
    padding: 13px;
    background: #4281e1;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: 12px;
    width: 148px;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: inset 0 -0.2em #5f71ef;
}