@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
box-sizing: border-box;
}
.formulario-contenedor{
width:505px;
margin: 0 auto;
box-shadow: 10px 10px 25px 3px rgba(0,0,0,0.75);
padding:12px;
border-radius: 7px;
}
.boton-salir{
outline: none;
border-style: none;
font-family:'Source Sans Pro', sans-serif;
color:#fff;
border-radius:50%;
cursor: pointer;
background-color: #B9B9B9;

}
.formulario-pago{
display: grid;
width: 90%;
margin: 0 auto;
grid-row-gap: 11px;
}

.informacion-pago{
background-color:#EEEEEE;
border-style: none;
height: 27px;
border-radius: 7px;
font-family:'Source Sans Pro', sans-serif;
}
.boton-pagar{
width: 23%;
background:#4D9B14;
border-style: none;
color: #fff;
padding: 8px;
border-radius: 7px;
font-size: 13px;
font-family:'Source Sans Pro', sans-serif;
margin: 0 auto;
box-shadow: inset 0 -.2em #256629 ;
cursor: pointer;
outline: none;
}
.boton-pagar:active{
transform: scale(.9);
}
@media screen and (max-width:528px){
.formulario-contenedor{
width:90%;
}
}
