@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
*{box-sizing:border-box;}
body{
background:#EAEAEA;}
.contenedor{
width:1280px;
margin:0 auto;}
.buscar{
background-image:url(../img/misiones.jpg);
background-repeat:no-repeat;
height:470px;
box-shadow:0px 10px 45px #000000;
-webkit-box-shadow:0px 10px 45px #000000;
-moz-box-shadow:0px 10px 45px #000000;}
.barra{
width:400px;
font-size:25px;}
.encontrar{
width:499px;
margin:0 auto;
padding-top:200px;}
.icono{
font-size:20px;
margin:0 10px 0 10px;
color:#fff;}
.boton{
border-style:none;
background:#fff;
font-size:13px;
border-radius:5px;}
.buscando{
width:700px;
margin:0 auto;
margin-top:29px;}
.ingresar, .ingreso{
border-style:none;}
.ingresar{
width:200px;
padding:4px;
font-size:12px;
border-radius:7px;
box-shadow:10px 8px 40px #000000;}
.ingreso{
background:#E69215;
font-size:12px;
padding:5px;
border-radius:7px;
color:#fff;
width:57px;
display:block;
margin:23px auto 0 auto;}
.ancho{
width:280px;}
.perfiles{
display:flex;}
.col-1{
width:50%;
color:#000000;
display:inline-block;
height:10000px;
}
.col-2{
width:50%;
color:#BF1E21;
display:inline-block;
height:10000px;
}
.col-1, col-2{
margin-top:20px;}
.sub-titulo, .sub-titulo-dos{
font-family:'Source Sans Pro', sans-serif;
font-size:70px;
margin:0;
height:70px;
font-weight:700;}
.sub-titulo{
margin-left:20%;}
.sub-titulo-dos{
color:#E69215;
margin-left:30%;}
.perfil{
width:43%;
margin:40px 0 0 3%;
background:#fff;
display:inline-block;
padding-bottom:15px;}
.imagen{
width:100%;
height:250px;
}
.texto{
text-align:center;
font-family: 'Source Sans Pro', sans-serif;
color:#000000;
height:40px;
}
.abajo{
border-bottom:2px solid c;
width:70%;
margin:20px auto;
padding-bottom:8px;
margin-bottom:0;}
.calificacion{
display:inline-block;
font-family: 'Source Sans Pro', sans-serif;
color:#000000;}
.entrar{
text-decoration:none;
}
.mirar{
padding:15px;
width:100px;
margin:10px auto;
text-align:center;
font-family:'Source Sans Pro', sans-serif;
background:#E69215;
color:#FFFFFF;
border-radius:10px;}

@media screen and (max-width:641px){
.contenedor{
width:100%;}
.buscar{
background-size:100%;
height:240px;}
.col-1{
display:block;
width:100%;}
.col-2{
display:none;}
.perfil{
width:70%;
margin:40px auto 0 auto;
display:block;}
.sub-titulo, .sub-titulo-dos{
display:none;}
.buscando{
width:75%;
}
.ingresar{
display:block;
width:100%;
margin-top:15px;
height:25px;}
.contiene{
display:block;
}
.encontrar{
padding-top:100px;}
.barra{
width:75%;}
.imagen{
height:auto;}

@media screen and (max-width:560px){
.boton{
display:block;
margin:20px auto 0 auto;
}
.barra{
margin-left:16%;
width:55%;}
.buscar{
height:200px;}
@media screen and (max-width:467px){
.boton{
display:block;
margin-left:37%;
}
.encontrar{
padding-top:80px;}
.barra{
margin-left:12%;
width:55%;}
.buscar{
height:171px;}
@media screen and (max-width:375px){
.boton{
display:block;
margin-left:25%;
}
.encontrar{
padding-top:40px;}
.barra{
margin-left:12%;
width:30%;}
.buscar{
height:138px;}
}
}
}
}
@media screen and (min-width:642px) and (max-width:714px){
.contenedor{
width:100%;}
.buscar{
background-size:100%;
height:270px;}
.col-1{
display:block;
width:100%;}
.col-2{
display:none;}
.perfil{
width:33%;
margin-left:11%;}
.sub-titulo, .sub-titulo-dos{
display:none;}
.buscando{
width:75%;
}
.ingresar{
display:block;
width:100%;
margin-top:15px;
height:25px;}
.contiene{
display:block;
padding-left:%;}
.encontrar{
padding-top:150px;}	
@media screen and (max-width:696px){
.buscar{
height:274px;}
.encontrar{
padding-top:140px;}	
}
}
@media screen and (min-width:715px) and (max-width:970px){
.contenedor{
width:100%;}
.buscar{
background-size:100%;
height:300px;}
.col-1{
display:block;
width:100%;}
.col-2{
display:none;}
.perfil{
width:30%;
margin-left:2%;}
.sub-titulo{
display:inline-block;
margin-left:14%;}
.sub-titulo-dos{
display:inline-block;
margin-left:2%;}
.encontrar{
padding-top:150px;}	
.contiene{
display:block;
padding-left:2%;}
}
@media screen and (min-width:971px) and (max-width:1028px){
.contenedor{
width:100%;}
.buscar{
background-size:100%;
height:410px;}
.col-1{
display:block;
width:100%;}
.col-2{
display:none;}
.perfil{
width:27%;
margin-left:5%;}
.sub-titulo{
display:inline-block;
margin-left:24%;}
.sub-titulo-dos{
display:inline-block;
margin-left:2%;}
}

@media screen and (min-width:1029px) and (max-width:1266px){
.contenedor{
width:100%;}
.buscar{
background-size:100%;
height:410px;}
.sub-titulo{
margin-left:15%;}
.sub-titulo-dos{
margin-left:20%;}


}

