@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
*{box-sizing:border-box;}
body{
background:#EAEAEA;}
.contenedor{
width:1280px;
margin:0 auto;}
.buscar{
background-size: cover;
background-position: center;
background-image:url(../img/misiones.jpg);
background-repeat:no-repeat;
height:470px;
box-shadow:0px 10px 45px #000000;
-webkit-box-shadow:0px 10px 45px #000000;
-moz-box-shadow:0px 10px 45px #000000;}
.barra{
width:400px;
font-size:16px;}
.encontrar{
width:499px;
margin:0 auto;
padding-top:200px;}
.icono{
font-size:20px;
margin:0 10px 0 10px;
color:#fff;}
.boton{
border-style:none;
background:#E69215;
font-size:13px;
padding:5px;
border-radius:7px;
color:#fff;
box-shadow: inset 0 -.2em #A37433 ;
cursor: pointer;
outline: 0;
transition: .2s;}
.boton:active{
transform: scale(.9);
}
.buscando{
width:700px;
margin:0 auto;
margin-top:29px;}
.ingresar, .ingreso{
border-style:none;}
.ingresar{
width:200px;
padding:4px;
font-size:12px;
border-radius:7px;
box-shadow:10px 8px 40px #000000;}
.ingreso{
background:#E69215;
font-size:12px;
padding:5px;
border-radius:7px;
color:#fff;
width:57px;
display:block;
margin:23px auto 0 auto;}
.ancho{
width:280px;}
.perfiles{
display:flex;}
.filtrar{
justify-items: center;
display: grid;
grid-template-columns:1fr 4% 1fr;
grid-template-areas:"traductor" "col-1" "vacio" "col-2";
}
.traductor{
grid-area: "traductor";
grid-column-start: 1;
grid-column-end: 4;
}
.vacio{
grid-area:"vacio";
}
.col-1{
color:#000000;
grid-area: "col-1";
grid-column-start: 1;
display: grid;
grid-template-columns: repeat(2, 50%);
grid-template-rows:181px repeat(10, 500px);

}
.col-2{
color:#BF1E21;
grid-area:"col-2"; 
display: grid;
grid-template-columns: repeat(2, 50%);
grid-template-rows:repeat(10, 500px);
}
.col-1, .col-2{
margin-top:20px;}
.caja{
grid-row-start:1;
grid-row-end:2;
grid-column-start:1;
grid-column-end:3;
}

.sub-titulo, .sub-titulo-dos{
font-family:'Source Sans Pro', sans-serif;
font-size:80px;
margin:0;
font-weight: 700;}
.sub-titulo{
margin-left:20%;}

.sub-titulo-dos{
color:#E69215;
margin-left:30%;}

.perfil{
margin:40px 0 0 3%;
background:#fff;
display:inline-block;
padding-bottom:15px;
height:max-content;
}
.imagen{
width:100%;
height:250px;
}
.texto{
text-align:center;
font-family: 'Source Sans Pro', sans-serif;
color:#000000;
height:40px;
}
.abajo{
border-bottom:2px solid c;
width:70%;
margin:20px auto;
padding-bottom:8px;
margin-bottom:0;}
.calificacion{
display:inline-block;
font-family: 'Source Sans Pro', sans-serif;
color:#000000;}
.entrar{
text-decoration:none;
}
.mirar{
padding:15px;
width:100px;
margin:10px auto;
text-align:center;
font-family:'Source Sans Pro', sans-serif;
background:#E69215;
color:#FFFFFF;
border-radius:10px;
border-style:none;
box-shadow: inset 0 -.2em #A37433 ;}
.mirar:active{
transform:scale(.9);
}

@media screen and (max-width:641px){
.contenedor{
width:100%;}
	.filtrar{
grid-template-columns:100%;
	}
	.imagen{
height:auto;
	}
.buscar{
background-size:100%;
height:245px;}
.col-2{
display:none;}
.perfil{
margin:40px auto 0 auto;
display:block;}
.buscando{
width:75%;
}
.sub-titulo{
text-align: center;
margin: 0;
font-size:56px;
}
	.sub-titulo-dos{
margin:0;
font-size: 56px;
	}
.perfil{
margin-top: 10px;
grid-template-rows:67px repeat(10, 545px);
	}
.ingresar{
display:block;
width:100%;
margin-top:15px;
height:25px;}
.contiene{
display:block;
}
.caja-2{
display: none;
	}
.encontrar{
padding-top:100px;}
.barra{
width:75%;}
.col-1{
grid-template-columns:repeat(2, 49%);
grid-template-rows:100px repeat(10, 24%);
width:100%;
grid-column-gap:2%;
}
.col-2{
display:none;}
	.vacio{
display: none;
	}
@media screen and (max-width:525px){
	.col-1{
grid-template-rows:67px repeat(10, 25%);
		
	}
.buscar{
height: 240px;
	}
.barra{
width:82%;
margin:10px;
}
.boton{
display:block;
width:19%;
margin:0 auto;
}
.encontrar{
width:100%;
}
.sub-titulo, .sub-titulo-dos{
font-size:42px;
	}

@media screen and (max-width:380px){
	.col-1{
grid-template-rows:56px repeat(10, 403px);

}

.encontrar{
padding-top: 56px;
	}
.sub-titulo, .sub-titulo-dos{
font-size:34px;
	}	
.buscar{
height: 191px;
}
}		
}
}
@media screen and (min-width:642px) and (max-width:1028px){
.contenedor{
width:100%;}
.buscar{
background-size:100%;
height:360px;
margin-top: -2px;}
.col-1{
grid-template-columns:repeat(3, 33%);
grid-template-rows:100px repeat(10, 500px);
width:100%;
align-items: center;
grid-column-gap: .5%;}
.col-2{
display:none;}

.caja{
grid-column-start:1;
grid-column-end:4;
}
.vacio{
display:none;
}
.filtrar{
grid-template-columns:100%;
}
	.encontrar{
padding-top: 131px;
	}
.sub-titulo{
text-align: center;
margin: 0;
font-size:66px;
}
	.sub-titulo-dos{
margin:0;
	}
}
@media screen and (min-width:1029px) and (max-width:1266px){
.contenedor{
width:100%;}
.buscar{
background-size:100%;
height:410px;}
.sub-titulo{
margin-left:15%;}
.sub-titulo-dos{
margin-left:20%;}


}


