@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
*{box-sizing:border-box;}
body{
background:#EAEAEA;}
.contenedor{
width:1280px;
margin:0 auto;}
.mover{
display: grid;
grid-template-columns:[inicio]25% 25% 25% 25%[final];
grid-template-rows:69px 50px repeat(10, 500px);
justify-content: center;
grid-column-gap:1%;
}
.ir, .comi{
grid-column-start:inicio;
grid-column-end: final;
}

.negro{
color:#000000;}
.anuncio{
font-size:45px;
font-family: 'Source Sans Pro', sans-serif;
color:#E69215;
text-align:center;
margin:20px 0 0 0;}
.nuncio{
grid-column-start:inicio;
grid-column-end: final;
}
.crear{
margin-left:2%;
text-decoration:none;
background:#E69215;
color:#fff;
padding:10px;
border-radius:7px;
font-family: 'Source Sans Pro', sans-serif;
margin-top:20px;}
.perfil{
background:#fff;
padding-bottom:15px;
margin-bottom:20px;}
.imagen{
width:100%;
height:250px;
}
.texto{
text-align:center;
font-family: 'Source Sans Pro', sans-serif;
color:#000000;
height:40px;
}
.abajo{
border-bottom:2px solid c;
width:70%;
margin:20px auto;
padding-bottom:8px;
margin-bottom:0;}
.entrar{
text-decoration:none;
}
.mirar{
padding:15px;
width:100px;
margin:10px auto;
text-align:center;
font-family:'Source Sans Pro', sans-serif;
background:#E69215;
color:#FFFFFF;
border-radius:10px;}
.editar{
font-size:14px;
font-family:'Source Sans Pro', sans-serif;
display:block;
font-size:15px;
color:#B0ADAD;
text-decoration:none;
width:30%;
text-align:center;
margin:0 auto;}
.comi{
text-align: center;
font-family:'Source Sans Pro', sans-serif;
color: #000;
margin-bottom: 0;
font-size: 13px;
}
@media screen and (max-width:641px){
.contenedor{
width:100%;}
.mover{
display: grid;
grid-template-columns:[inicio]1fr 1fr[final];
justify-content: center;
grid-row-gap:.5%;
grid-template-rows:69px 50px repeat(10, 45%);
}
.crear{
margin: 5px auto;
width:120px;
display:block;}
.imagen{
width:100%;
height:auto;
}

}

@media screen and (min-width:642px) and (max-width:744px){
.contenedor{
width:100%;}
.mover{
display: grid;
grid-template-columns:[inicio]1fr 1fr 1fr[final];
justify-content: center;

}

}
@media screen and (min-width:745px) and (max-width:1266px){
.contenedor{
width:100%;}


}


