@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.contenedorPag{
display: grid;
justify-items: center;
grid-template-columns: repeat(6, 1fr);
width: 200px;
margin: 0 auto;
}
.enumeracion, .anteriorPag, .siguientePag{
text-decoration: none;
font-family: 'Open Sans', sans-serif;
font-size: 13px;
background-color: #cfcfcf;
color: #000;
padding: 7px;
border-radius: 2px;
margin: 3px;
}
.activoPag{
text-decoration: none;
font-family: 'Open Sans', sans-serif;
font-size: 13px;
color: #E69215;
padding: 7px;
border-radius: 2px;
margin: 3px;   
border:1px solid #E69215;
}