@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
*{box-sizing:border-box;}
body{
background:#EAEAEA;
}
.contenedor{
width:1280px;
margin:0 auto;}
.perfil{
font-size:45px;
font-family: 'Source Sans Pro', sans-serif;
color:#E69215;
text-align:center;
margin:20px 0 0 0;}
.avat{
display: block;
margin: 0 auto;
border-radius: 50%;
}
.negro{
color:#000000;}
.ajuste{
background:#fff;
width:80%;
margin:0 auto;
padding-bottom:10px;
padding-top: 30px;}
.adjunto{
display:grid;
grid-template-columns:45% 45%;
width:100%;
justify-content:center;
}
.circulo{
text-align:center;
font-size:60px;
display:block;
padding-top:20px;}
.datos{
text-align:center;
display:block;
font-family: 'Source Sans Pro', sans-serif;
color:#E69215;
margin:0;}
.info{
list-style:none;
font-family: 'Source Sans Pro', sans-serif;
width:100%;
display:grid;
justify-content:center;
padding:0;
}
.detalle{
padding-bottom:7px;}
.negrilla{
font-weight:bold;}
.mas{
display:block;
color:#C8C7C7;
text-decoration:none;
font-family: 'Source Sans Pro', sans-serif;
font-size:14px;
text-align:center;
}
.tamano{
width:80%;}
.boton{
text-align:center;
width:10%;
margin:0 auto 10px auto;
font-family: 'Source Sans Pro', sans-serif;
padding:7px;
border-radius:7px;
background:#E69215;
color:#fff;
text-decoration:none;
display:block;
}
.siguente{
text-align:center;
font-family: 'Source Sans Pro', sans-serif;
font-size:14px;}
.link{
font-family: 'Source Sans Pro', sans-serif;
text-decoration:none;
border:#E69215 1px solid;
color:#E69215;
padding:7px;
border-radius:7px;
width:130px;
display:block;
margin:0 auto;
}
.dinero{
text-align: center;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 700;
font-size:21px;
margin-bottom: 7px;
}
.notificar{
text-align: center;
text-decoration: none;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 400;
margin-bottom: 20px;
color: #000;
display: block;
}
@media screen and (max-width:500px){
.contenedor{
width:100%;}
.ajuste{
width:95%;}
.boton{
width:20%;}
.detalle, .tamano{
font-size:14px;}
.info{
margin-left:13%;
justify-content:normal;
}
.adjunto{
grid-template-columns:1fr;   
}
}
@media screen and (min-width:501px) and (max-width:697px){
.contenedor{
width:100%;}
.ajuste{
width:90%;}
.boton{
width:20%;}
.detalle{
font-size:15px;}
}

@media screen and (min-width:696px) and (max-width:1096px){
.contenedor{
width:100%;}
.ajuste{
width:90%;}


}
@media screen and (min-width:1097px) and (max-width:1266px){
.contenedor{
width:100%;}
.ajuste{
width:90%;}


.intro {
    list-style: none;
    padding: 0;
    margin: 30px 200px;
    width: 90%;
    display: block;
}

.avatares {
    display: block;
    width: 40%;
    margin: 0 auto;
}
.elegir {
    text-align: center;
    margin-bottom: 10px;
}
.person {
    display: inline-block;
    margin-left: 3%;
}

.people{
    border-radius: 50%;
}