@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
*{box-sizing:border-box;
}
body{
background:#EAEAEA;}
.contenedor{
width:1280px;
margin:0 auto;}

.modal-contenedor{
width:816px;
margin:0 auto;}

.modal-editar{
width:816px;
margin:0 auto;}

.sub{
text-align:center;
font-family:'Source Sans Pro', sans-serif;
color:#E69215;
font-size:33px;}
.pre{
font-family:'Source Sans Pro', sans-serif;
font-weight:bold;
text-align:center;
}
.imagen{
margin-bottom:7px;}
.columna-1{

width:65%;
display:inline-block;
margin-left:3%;
margin-bottom:20px;
}
.columna-2{
width:27%;
display:inline-block;
height:500px;
background:#fff;
margin-left:1%;
overflow:scroll;
}
.descripcion{
background:#fff;
width:90%;
display:block;
margin:0 auto;
padding:15px;
margin-bottom:20px;
border-radius:15px;
}

.cont{
z-index:1000;}
.observar{
display:inline-flex;
width:100%;
}
.informa{
text-align:center;
font-family:'Source Sans Pro', sans-serif;
color:#E69215;}
.espaciado{
margin-right:10px;
font-size:30px;}
.usuario{
list-style:none;}
.forma, .correr{
display:inline-block;
font-family:'Source Sans Pro', sans-serif;}
.forma{
font-size:30px;}
.correr{
font-weight:bolder;
margin-left:10px;}
.suav{
font-weight:lighter;
color:#A19B9C;
font-size:17px;}
.precio, .califica{

font-weight:700;
}
.califica{
text-align: center;
font-size: 18px;
font-family:'Source Sans Pro', sans-serif;
font-weight: 700;
}
.comp{
text-align: center;
}
.cuenta{
list-style:none;
padding:0 0 0 33%;
}
.manos{
display:inline-block;
}
.dedos, .mal{
font-size:22px;	
}
.dedos{
color:#1FD660;
}
.mal{
color:#DE090C;
margin-left: 25px;
}
.num, .comp, .hablar, .precio, .numero, .info{
font-family:'Source Sans Pro', sans-serif;
font-weight: 400;
}
.negri{
font-weight: 700;
}
.hablar{
background:#E69215;
color:#fff;
padding: 7px;
border-radius:7px;
text-align: center;
display: block;
width: 60%;
margin: 0 auto;
text-decoration: none;
}
.cancelar{
margin-bottom:10px;
background-color:#DE090C; 
}
.finalizar{
background-color:#1FD660;
}
.precio{
text-align: center;
font-weight:700;
font-size: 20px;
border-top: 3px solid #E69215;
padding-top: 20px;
margin-bottom: 3px;
}
.numero{
text-align: center;
font-size:40px;
color:#A7A5A5;
margin: 0;
}
.info{
font-size: 12px;
color:#9F9D9D;
width: 80%;
margin: 5px auto 10px auto;
}

.pago, .enviar{
background:#E69215;
color:#fff;
padding: 7px;
border-radius:7px;
display: block;
text-align: center;
width: 100px;
text-decoration: none;
margin: 5px auto 20px auto;
font-family:'Source Sans Pro', sans-serif;
font-weight:400;

}
.enviar{
width:200px;
}
.sub-mirar{
align-items: center;
}
.alinea{
text-align: center;
width:56%;
}
@media screen and (max-width:845px){
.contenedor{
width:100%;}
.observar{
display:block;}
.columna-1{
display:block;
width:95%;
margin:0 auto;}
.columna-2{
width:70%;
margin:0 auto 20px auto;
height:auto;
display:block}
.informa{
font-size:15px;
padding-top:20px;}
.correr{
margin-left:4%;
font-size:13px;}
.envio{
margin-bottom:20px;}

.usuario{
width:184px;
margin:0 auto;}
.sub-mirar{
padding-left:0;
width:100%;}
.especific{
font-size:14px;
}
.sub{
font-size:28px;}
.cuenta{
padding-left:41%;
}
@media screen and (max-width:657px){
.columna-2{
width: 90%;
}
}
@media screen and (max-width:461px){
.cuenta{
padding-left:34%;
}
}
}
@media screen and (min-width:846px) and (max-width:940px){
.contenedor{
width:100%;}
.columna-2{
width:29%;}
.informa{
font-size:15px;}
.correr{
margin-left:4%;
font-size:13px;}
.especific{
font-size:14px;
}
.califica, .comp{
font-size:15px;
}
.cuenta{
padding-left:25%;
}

}
@media screen and (min-width:941px) and (max-width:1266px){
.contenedor{
width:100%;}
.columna-2{
width:29%;}

}


.img-upload_propuesta{
    float: left;
    margin: 0 15px 0 0;
  }

.pago-procesar{
background:#E69215;
color:#fff;
padding: 7px;
border-radius:7px;
text-align: center;
width: 100px;
text-decoration: none;
margin: 5px auto 20px auto;
font-family:'Source Sans Pro', sans-serif;
font-weight:400;

}

.close-button{
background:#e61515;
color:#fff;
padding: 7px;
border-radius:7px;
text-align: center;
width: 100px;
text-decoration: none;
margin: 5px auto 20px auto;
font-family:'Source Sans Pro', sans-serif;
font-weight:400;

}
