* {
  box-sizing: border-box;
}
/* Create three equal columns that floats next to each other */
.column-tre {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 30px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row-tre:after {
  content: "";
  display: table;
  clear: both;
}