@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
*{box-sizing:border-box;
}
body{
background:#EAEAEA;}
.cont-3{
display: grid;
grid-template-columns:60% 40%;
grid-template-rows:58px 68.5% 30%;
grid-row-gap:5%;
grid-column-gap:.5%;
max-width: 1280px;
margin: 0 auto; }
.titulo-3{
grid-column-start:1;
grid-column-end:3;
grid-row-start:1;
grid-row-end:2;
}
.sub{
text-align:center;
font-family:'Source Sans Pro', sans-serif;
color:#E69215;
font-size:33px;}
.sub-mirar{
display: grid;
justify-content: center;
padding: 0;
margin: 0;
}
.pre{
font-family:'Source Sans Pro', sans-serif;
font-weight:bold;
text-align:center;
}
.imagen{
margin-bottom:7px;}
.columna-1{
grid-column-start:1;
grid-column-end:2;
}

.columna-2{
background:#fff;
justify-content: center;
overflow:scroll;
grid-column-start:2;
grid-column-end:3;
height: 500px;
max-height: 500px;

}
.descripcion-2{
background:#fff;
width:90%;
display:block;
margin:0 auto;
padding:15px;
grid-column-start: 1;
grid-column-end:3;
margin-bottom:20px;
border-radius:15px;
height:max-content;
}
.imagen-mision{
border-radius: 50%;
}
.describir{
color:#E69215;
font-family:'Source Sans Pro', sans-serif;
text-align: center;
}
.especific{
font-family:'Source Sans Pro', sans-serif;
}
.cont{
z-index:1000;}
.observar{
display:inline-flex;
width:100%;
}

.informa{
text-align:center;
font-family:'Source Sans Pro', sans-serif;
color:#E69215;}
.centrado-img{
display: grid;
justify-content: center;
}
.espaciado{
display: grid;
justify-content: center;
font-size:30px;}
.usuario{
list-style:none;
display: grid;
justify-content: center;
}
.forma, .correr{
display:inline-block;
font-family:'Source Sans Pro', sans-serif;}
.forma{
font-size:30px;}
.correr{
font-weight:bolder;
text-align: center;
font-size: 20px;}
.suav{
font-weight:lighter;
color:#A19B9C;
font-size:17px;}
.precio, .califica{

font-weight:700;
}
.califica{
text-align: center;
font-size: 18px;
font-family:'Source Sans Pro', sans-serif;
font-weight: 700;
}
.comp{
text-align: center;
}
.cuenta{
list-style:none;
padding:0;
display: grid;
grid-template-columns: 13% 13%;
justify-content: center;
}
.manos{
display:inline-block;
}
.dedos, .mal{
font-size:22px;	
}
.dedos{
color:#1FD660;
}
.mal{
color:#DE090C;
margin-left: 25px;
}
.num, .comp, .hablar, .precio, .numero, .info{
font-family:'Source Sans Pro', sans-serif;
font-weight: 400;
}
.negri{
font-weight: 700;
}
.hablar{
background:#E69215;
color:#fff;
padding: 7px;
border-radius:7px;
text-align: center;
display: block;
width: 60%;
margin: 0 auto;
text-decoration: none;
}
.precio{
text-align: center;
font-weight:700;
font-size: 20px;
border-top: 3px solid #E69215;
padding-top: 20px;
margin-bottom: 3px;
}
.numero{
text-align: center;
font-size:40px;
color:#A7A5A5;
margin: 0;
}
.info{
font-size: 12px;
color:#9F9D9D;
width: 80%;
margin: 5px auto 10px auto;
}
.pago, .enviar{
background:#E69215;
color:#fff;
padding: 7px;
border-radius:7px;
display: block;
text-align: center;
width: 100px;
text-decoration: none;
margin: 5px auto 20px auto;
font-family:'Source Sans Pro', sans-serif;
font-weight:400;

}

.pago-procesar{
background:#E69215;
color:#fff;
padding: 7px;
border-radius:7px;
text-align: center;
width: 100px;
text-decoration: none;
margin: 5px auto 20px auto;
font-family:'Source Sans Pro', sans-serif;
font-weight:400;

}

.close-button{
background:#e61515;
color:#fff;
padding: 7px;
border-radius:7px;
text-align: center;
width: 100px;
text-decoration: none;
margin: 5px auto 20px auto;
font-family:'Source Sans Pro', sans-serif;
font-weight:400;

}

.enviar-msm-button{
background:#0244ffb3;
color:#fff;
padding: 7px;
border-radius:7px;
text-align: center;
width: 100px;
text-decoration: none;
margin: 5px auto 20px auto;
font-family:'Source Sans Pro', sans-serif;
font-weight:400;

}
.enviar{
width:200px;
}

@media screen and (max-width:499px){
.contenedor{
width:100%;}
.observar{
display:block;}
.columna-1{
display:block;
width:95%;
margin:0 auto;}
.columna-2{
width:95%;
margin:0 auto 20px auto;
height:auto;
display:block}
.informa{
font-size:20px;
padding-top:20px;}
.correr{
margin-left:4%;
font-size:15px;}
.envio{
margin-bottom:20px;}
.tamano{
font-size: 20px;
}
	.hablar{
width: 41%;
	}
.usuario{
width:184px;
margin:0 auto;}
.sub-mirar{
padding-left:0;
width:100%;}
.especific{
font-size:14px;
}
	.hablar{
width: 50%;
	}
.sub{
font-size:28px;}
.espaciado{
display: block;
width: 20px;
margin: 0 auto;
}
	.cont-3{
grid-template-columns:100%;
grid-template-rows:120px 35.5% 39.5% 30%;
grid-row-gap:0%;
	}
.columna-1{
grid-column-start: 1;
grid-column-end:3;
}
.columna-2{
grid-column-start: 1;
grid-column-end:3;
}
	.flexslider .slides img{
max-width: 100%;
	}
}

@media screen and (min-width:500px) and (max-width:1048px){
.contenedor{
width:100%;}
.columna-2{
justify-content: center;
}
.informa{
font-size:15px;}
.correr, .tamano{
font-size:17px;}
.especific{
font-size:14px;
}
.tamano{
font-size:20px;
}

	.hablar{
width: 41%;
	}
	.cuenta{
grid-template-columns: 7% 8%;
	}
	.cont-3{
grid-template-columns:100%;
grid-template-rows:41px 40.5% 38.5% 30%;
	}
.columna-1{
grid-column-start: 1;
grid-column-end:3;
}
.columna-2{
grid-column-start: 1;
grid-column-end:3;
}
	.informa{
font-size: 20px;
	}
}
@media screen and (min-width:1049px) and (max-width:1266px){
.cont-3{
width: 100%;
	}

}

.cancelar {
    margin-bottom: 10px;
    background-color: #DE090C;
}