@import url('https://fonts.googleapis.com/css?family=Nunito:700|Source+Sans+Pro:400,600&display=swap');

body{
margin:0;}
*{
box-sizing:border-box;}
.head{
margin:77px auto 0 auto;
}
.titulo{
font-family: 'Nunito', sans-serif;
color:#fff;
text-align:center;
font-size:40px;
margin:0;
font-weight:700;
}
.sub{
text-align:center;
margin:0;
font-family:'Source Sans Pro', sans-serif;
color:#fff;}
.formulario{
margin-top:30px;
background-color:rgba(255, 255, 255, 0.6);
box-shadow: 14px 11px 30px 2px rgba(0,0,0,0.75);
padding:25px;
border-radius:10px;}
.form{
width:500px;
margin:0 auto;}
.entrada{
display:block;
width:88%;
margin:0 auto 10px auto;
font-size:13px;
padding:6px;
border-style:none;
border-radius:7px;
background-color:#fff;
outline:none;
}
.out, .salir{
padding:0;}
.adaptar{
display:inline-block;
width:49%;
font-size:13px;
padding:6px;
border-radius:7px;
border-style:none;
background-color:#fff;
outline:none;}
.texto{
margin:0;
margin-left:7%;
font-family:'Source Sans Pro', sans-serif;
color:#686868;}
.date{
width:32%;
display:inline-block;
font-size:13px;
padding:6px;
border-radius:7px;
border-style:none;}
.salir{
margin-top:10px;}
.enviar{
background:#E63721;
margin:0 auto 15px auto;
color:#fff;
display:block;
border-style:none;
font-size:14px;
padding:7px;
border-radius:7px;}
.link{
text-decoration:none;
color:#fff;}
.politicas{
text-decoration:none;
font-family:'Source Sans Pro', sans-serif;
font-size:14px;
width:90%;
color:#fff;
margin:10px auto 0 auto;
display:block;
text-align:center;
margin-bottom:20px;
}
.intro{
list-style: none;
padding: 0;
margin:30px auto 0 auto;
width:90%;
display: block;
}
.unico{
display: block;
width: 120px;
margin: 0 auto;
}
.person{
display: inline-block;
margin-left:3%;
}
.nombre, .elegir{
font-family:'Source Sans Pro', sans-serif;
}
.avatares{
display:block;
width: 40%;
margin: 0 auto;
}
.elegir{
text-align: center;
margin-bottom: 10px;
}
.nombre{
text-align: center;
}
.people{
border-radius: 50%;
}
@media screen and (max-width:485px){
.contenedor{
width:100%;}
.form{
width:100%;}

.formulario{
width: 90%;
margin:30px auto 0 auto;
}
.unico{
display: inline-block;
}
.intro{
width: 86%;
}
.person{
margin-right: 5%;
}
@media screen and (max-width:414px){
.person, .unico{
display:block;
width:120px;
margin: 0 auto
}
.intro{
width: 100%;		
}
}
}
@media screen and (min-width:486px) and (max-width:1174px){
.contenedor{
width:100%;}

}
@media screen and (min-width:1175px){
.contenedor{
width:100%;}

}



