@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
*{box-sizing:border-box;}
body{
background:#EAEAEA;
}
.contenedor{
width:1280px;
margin:0 auto;}
.funciona{
font-size:45px;
font-family: 'Source Sans Pro', sans-serif;
color:#E69215;
text-align:center;
margin:20px 0 0 0;}
.negro{
color:#000000;}
.white{
background:#fff;
width:80%;
margin:0 auto;
padding-bottom:10px;
padding-top: 30px;}
.avatar{
display: block;
margin: 0 auto;
border-radius: 50%;
}
.persona, .especi{
text-align:center;
display:block;
font-family: 'Source Sans Pro', sans-serif;
color:#E69215;
margin:15px 0 0 0;
font-size:19px;
font-weight:700;}
.especi{
font-size:25px;
color: #000000;
margin: 0;	
}
.dis{
list-style: none;
border-bottom:3px solid #E69215;
width:500px;
margin:20px auto;
padding: 0 0 15px 0;
}
.tener{
font-family: 'Source Sans Pro', sans-serif;
font-weight: 700;
font-size:20px;
width:400px;
margin: 10px auto;
}
.lig{
font-weight: 400;
}
.poder{
font-family: 'Source Sans Pro', sans-serif;
font-weight: 400;
text-align: center;
}
.regre{
font-family: 'Source Sans Pro', sans-serif;
font-weight: 400;
background-color:#E69215;
width:150px;
display: block;
margin: 7px auto;
padding:7px;
color:#FFFFFF;
border-radius:7px;
text-align: center;
text-decoration: none;
}

@media screen and (max-width:455px){
.contenedor{
width:100%;}
.funciona{
font-size:32px;
}
.white{
width: 95%;
}
.dis{
width: 70%;
display: block;
}
.tener{
font-size: 14px;
}
.poder{
font-size: 17px;
}
}

@media screen and (min-width:456px) and (max-width:641px){
.contenedor{
width:100%;}
.funciona{
font-size:32px;
}
.white{
width: 95%;
}
.dis{
width: 90%;
}
}

@media screen and (min-width:642px) and (max-width:915px){
.contenedor{
width:100%;}
.funciona{
font-size:32px;
}
}

@media screen and (min-width:916px) and (max-width:1261px){
.contenedor{
width:100%;}

}