@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
*{box-sizing:border-box;}
body{
margin:0;
}
.contenedor{
max-width:1280px;
margin:0 auto;}
.conti{
background-color:#F60E12;
}
.info{
padding-left:3%;
}
.titulo{
font-family: 'Nunito', sans-serif;
color:#FFFFFF;
margin:0;
padding: 7px 7px 7px 40px;
}

.cliente, .necesidad, .des, .text{
font-family:'Source Sans Pro', sans-serif;
font-weight: normal;
font-size:20px;
}
.cliente{
margin:90px 0 10px 0;
}
.necesidad{
margin:0 0 10px 0;
}
.contiene{
margin-bottom:40px;
border-bottom:#C5C4C4 2px dotted;
width: 98%;
padding-bottom: 50px;
}
.port{
height:250px;
padding-top:30px;
padding-left: 2%;
margin-top:60px;
background-color:#E8E8E8;
border-radius:7px;
width: 98%;
}
.imagen{
list-style:none;
display: inline-block;
}
.des{
margin-bottom:40px;
}
.text{
font-size:17px;
text-align: justify;
background-color:#FFFFFF;
padding: 35px;
border:#C5C4C4 1px solid;
}
.desing{
width:89%;
margin:10px auto;
background-color:#E8E8E8;
padding:25px;
}
@media screen and (max-width:494px){
.contenedor{
width:100%}
.titulo{
text-align: center;
width: 88%;
}
.contiene{
width:60%;
}
.port{
width: 29%;	
height:auto;
margin:60px auto 0 auto;
padding:10px;
padding-left: 2%;
background:none;
}
.cliente, .necesidad, .des, .text{
margin-left: 3%;
	}
.info{
padding-left: 0;
}
.editar{
height: 153px;;
width: 200px;
}
.text{
margin: 0;
}
}
@media screen and (min-width:495px) and (max-width:770px){
.contenedor{
width:100%}
.titulo{
text-align: center;
width: 88%;
}
.contiene{
width: 85%;
}
.port{
width: 29%;	
height:auto;
margin:60px auto 0 auto;
padding:10px;
padding-left: 2%;
background:none;
}
.cliente, .necesidad, .des, .text{
margin-left: 3%;
	}
.info{
padding-left: 0;
}
.editar{
height: 153px;;
width: 200px;
}
.text{
margin: 0;
}
}
@media screen and (min-width:771px) and (max-width:940px){
.contenedor{
width:100%}
.contiene{
width: 100%;		
}
.port{
width: 100%;	
height:auto;
margin:60px auto 0 auto;
padding:10px;
padding-left: 2%;
}
.cliente, .necesidad, .des, .text{
margin-left: 3%;
	}
.info{
padding-left: 0;
}
.editar{
height: 153px;;
width: 200px;
}
.text{
margin: 0;
}
@media screen and (max-width:838px){
.port{
width: 29%;
}
}
}
@media screen and (min-width:941px) and (max-width:1248px){
.contenedor{
width:100%}
.contiene{
width: 100%;		
}
.port{
width: 100%;	
height:auto;
margin:60px auto 0 auto;
padding:10px;
padding-left: 17%;
}
.cliente, .necesidad, .des, .text{
margin-left: 3%;
	}
.info{
padding-left: 0;
}
.editar{
height: 153px;;
width: 200px;
}
.text{
margin: 0;
}
@media screen and (max-width:1081px){
.port{
padding-left:10%;
	
}	
}
}