@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
*{
    font-family: 'Source Sans Pro', sans-serif;
}
.contenedor-mensaje{
    max-width: 30%;
    margin: 0 auto;
    box-shadow: 10px 10px 39px -14px rgba(0,0,0,0.75);
padding: 38px;
}
.seccion-mensaje{
display: grid;
justify-items: center;
grid-template-columns: 1fr;
}
.imagen-mensaje{
width: 100%;
}
.titulo-mensaje{
color: #494949;
margin-bottom: 8px;
}
.activar-mensaje{
background-color: #FF5E4A;
text-decoration: none;
color: #fff;
padding: 10px;
border-radius: 7px;
}
.texto-mensaje{
text-align: center;
}
@media only screen and (max-width: 831px){
    .contenedor-mensaje{
        max-width: 90%; 
    }
}