<template>
	<div>
   <table class="table table-striped- table-bordered table-hover table-checkable" id="et">
     <thead>
       <tr>
        <th scope="col">#</th>
        <th scope="col">Mision</th>
      	<th scope="col">Estado</th>
        <th scope="col">fecha</th>
        <th scope="col">Action</th>
       </tr>
     </thead>
     <tbody>
       <tr v-for= "et in entregas">
         <th scope="row">{{ et.id}}</th>
         <td>{{et.mision}}</td>
         <td>
          <div v-if="et.std == 32 || et.std == 24">
            <span class="kt-badge kt-badge--success kt-badge--inline">{{et.estado}}</span>
          </div>
          <div v-if="et.std == 19">
            <span class="kt-badge kt-badge--brand kt-badge--inline">{{et.estado}}</span>
          </div>
          <div v-if="et.std == 22 || et.std == 31|| et.std == 34">
            <span class="kt-badge kt-badge--danger kt-badge--inline">{{et.estado}}</span>
          </div>
         </td>
         <td>{{et.fecha}}</td>
         <td>
           <b-button-toolbar>
            <b-button-group class="mr-1">
               <div v-if=" et.std == 31 ||  et.std == 34">
              <b-button title="Mas detalles" @click="viewModal(et.id)">
                <b-icon icon="eye" aria-hidden="true"></b-icon>
              </b-button>
              <b-button title="Aprobar" @click="aprobarCancelado(et.id)">
                <b-icon icon="check" aria-hidden="true"></b-icon>
              </b-button>
              <b-button title="Rechazar" @click="rechazarCancelado(et.id)">
                <b-icon icon="x" aria-hidden="true"></b-icon>
              </b-button>
               </div>
               <div v-if="et.std == 19 || et.std == 22 ||  et.std == 24 || et.std == 32">
              <b-button title="Mas detalles" @click="viewModal(et.id)">
                <b-icon icon="eye" aria-hidden="true"></b-icon>
              </b-button>
               </div>
            </b-button-group>
          </b-button-toolbar></td>
       </tr>
     </tbody>
   </table>  
      <!--inicio  modal view -->
   
    <b-modal ref="my-modal-view" hide-backdrop :header-bg-variant="headerBgVariant"
      :header-text-variant="headerTextVariant" hide-header-close>
       <template v-slot:modal-title   #modal-header>
        <h2 class="titulo-pro">SCREENSHOT</h2>
        </template>
        <h3 v-for="name in tipoPrdTxt" :key="name.value">{{name}}</h3>
        <div class="usuario-pro">
	  		<p class="texto-pro" v-for="name in misionPrd" :key="name.value">{{name}}</p>
	  		<p class="texto-pro" v-for="name in userPrd" :key="name.value">{{name}}</p>
	  		<p class="texto-pro" v-for="name in presioPrd" :key="name.value"><span class="negrilla">Precio:</span> {{name}} USD</p>
        <p  v-if="descripcionPrd.length === 0" class="texto-pro"><span class="negrilla"></span></p>
        <div v-else>
        <p  v-for="name in descripcionPrd" class="texto-pro" :key="name.value"><span class="negrilla">Descripción: </span>{{ name }}</p>
        </div>
        <p  v-for="name in msmCanceladoPrd" class="texto-pro" :key="name.value"><span class="negrilla"><div v-if="name != ''">  Mensaje de cancelado:</div> </span>{{ name }}</p>
	  		<div v-for="name in imgOnePrd" :key="name.value"><img v-bind:src="`../../imagenesproductos/${name}`" class = 'imagen-pro'></div>
	  	</div>
	  	<div class="contenido-img">
			<div class="cada-img" @click="viewImageOne(name.nombreImagen)" v-for="name in imagenesPrd" :key="name.id"><img v-bind:src="`../../imagenesproductos/${name.nombreImagen}`" class="imagenes-contiene"></div>
     	</div>
      
        <h3 v-for="name in tipoSgnTxt" :key="name.value">{{name}}</h3>
       <div class="usuario-pro">
	  		<p class="texto-pro" v-for="name in misionSgn" :key="name.value">{{name}}</p>
	  		<p class="texto-pro" v-for="name in userSgn" :key="name.value">{{name}}</p>
	  		<p class="texto-pro" v-for="name in presioSgn" :key="name.value"><span class="negrilla">Precio:</span> {{name}} USD</p>
        <p  v-if="descripcionSgn.length === 0" class="texto-pro"><span class="negrilla"></span></p>
        <div v-else>
        <p  v-for="name in descripcionSgn" class="texto-pro" :key="name.value"><span class="negrilla">Descripción: </span>{{ name }}</p>
        </div>
        <p  v-for="name in msmCanceladoSgn" class="texto-pro" :key="name.value"><span class="negrilla"><div v-if="name != ''">  Mensaje de cancelado:</div> </span>{{ name }}</p>
	  		<div v-for="name in imgOneSgn" :key="name.value"><img v-bind:src="`../../imagenesproductos/${name}`" class = 'imagen-pro'></div>
	  	</div>
	  	<div class="contenido-img">
			<div class="cada-img" @click="viewImageTwo(name.nombreImagen)" v-for="name in imagenesSgn" :key="name.id"><img v-bind:src="`../../imagenesproductos/${name.nombreImagen}`" class="imagenes-contiene"></div>
     	</div>
       
       

    <template v-slot:modal-footer>
        <div class="w-100">
          <b-button
            variant="primary"
            size="sm"
            class="float-right"
            @click="closeModal"
          >
            
            Salir
          </b-button>
        </div>
      </template>
  	</b-modal>
    <!--fin modal view -->
  </div>
</template>
<style scoped>
  /deep/ .my-class {
    background: black;
    color: white;
  }

  /deep/ .my-second-class > .modal-dialog > .modal-content > .modal-header {
    background: black;
    color: white;
  }

  /deep/.imagen-pro{
    max-width: 100%;
  }
</style>
<script>
    import datables from 'datatables.net'
    import notify from 'bootstrap-notify'
    var urlpg= "/table-entregas/";
     


    export default {
        mounted() {
            this.getEntregas()
        },
        data(){
            return{
                entregas: [],
                 variants: ['primary', 'secondary', 'success', 'warning', 'danger', 'info', 'light', 'dark'],
                headerBgVariant: 'dark',
                headerTextVariant: 'light',
                fecha: [],
                estado: [],
                idEstado: [],
                descripcionPrd: [],
                userPrd: [],
                misionPrd: [],
                tipoPrd: [],
                presioPrd: [],
                imagenesPrd: [],
                descripcionSgn: [],
                userSgn: [],
                misionSgn: [],
                tipoSgn: [],                
                tipoPrdTxt: [],                             
                tipoSgnTxt: [],
                presioSgn: [],
                imagenesSgn: [],
                images: false,
                imgOnePrd: [],
                imgOneSgn: [],      
                msmCanceladoPrd: [],
                msmCanceladoSgn: []
            }
        },
        methods:{
            mytable(){

	                $(function() {
	                $('#et').DataTable({
                      'order'       : [[ 3, 'desc' ]],
                  });
               	});   
            },
           
           	getEntregas(){
	        	
	               axios.get(urlpg).then(response=>{
		               this.entregas = response.data;
		               this.mytable()
           			});


                setTimeout(function () {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
                }, 3000)   
          	},
             viewModal(id) {
              this.imagesPrd = false
              this.imgOnePrd.splice('')
              this.descripcionPrd.splice('')
              this.userPrd.splice('')
              this.misionPrd.splice('')
              this.tipoPrd.splice('')
              this.presioPrd.splice('')
              this.tipoPrdTxt.splice('')

              this.imagesSgn = false
              this.imgOneSgn.splice('')
              this.descripcionSgn.splice('')
              this.userSgn.splice('')
              this.misionSgn.splice('')
              this.tipoSgn.splice('')
              this.presioSgn.splice('')
              this.tipoSgnTxt.splice('')
              
              this.msmCanceladoSgn.splice('')
              this.msmCanceladoPrd.splice('')
              
              axios.get(urlpg + 'view/'+id).then(response=>{
                var productView = response;
                this.$refs['my-modal-view'].show()
                
                if (productView.data.productoDos.entregas.estado == 22 || productView.data.productoDos.entregas.estado == 31 || productView.data.productoDos.entregas.estado == 34) {
                  this.msmCanceladoPrd.push(productView.data.productoDos.entregas.comentarios)
                }else{
                  this.msmCanceladoPrd.push('')
                }
	              this.descripcionPrd.push(productView.data.productoDos.misionDetalladamente)
                this.userPrd.push(productView.data.productoDos.usuario.name)
                this.misionPrd.push(productView.data.productoDos.mision)
                this.tipoPrd.push(productView.data.productoDos.id_tipo)
                this.imagenesPrd = productView.data.productoDos.imagenende_varios
                if (productView.data.productoDos.propuestas != null) {
                  this.presioPrd.push(productView.data.productoDos.propuestas.presio)
                }
                if (productView.data.productoDos.id_tipo == 1) {
                  this.tipoPrdTxt.push('Producto')
                }else{
                  this.tipoPrdTxt.push('Propuesta')
                }
               
                
                if (productView.data.productoUno.entregas.estado == 22 || productView.data.productoUno.entregas.estado == 31 || productView.data.productoUno.entregas.estado == 34) {
                  this.msmCanceladoSgn.push(productView.data.productoUno.entregas.comentarios)
                }else{
                  this.msmCanceladoSgn.push('')
                }
                this.descripcionSgn.push(productView.data.productoUno.misionDetalladamente)
                this.userSgn.push(productView.data.productoUno.usuario.name)
                this.misionSgn.push(productView.data.productoUno.mision)
                this.tipoSgn.push(productView.data.productoUno.id_tipo)
                this.imagenesSgn = productView.data.productoUno.imagenende_varios
                if (productView.data.productoUno.propuestas != null) {
                  this.presioSgn.push(productView.data.productoUno.propuestas.presio)               
                }
                if (productView.data.productoUno.id_tipo == 1) {
                  this.tipoSgnTxt.push('Producto')
                }else{
                  this.tipoSgnTxt.push('Propuesta')
                }
              });
            },
            closeModal(){
            this.$refs['my-modal-view'].hide()
            },
            viewImageOne(img){
              this.imgOnePrd.splice('')
              this.imgOneSgn.splice('')
              this.images = true
              this.imgOnePrd.push(img)
            },
            viewImageTwo(img){
              this.imgOneSgn.splice('')
              this.imgOnePrd.splice('')
              this.images = true
              this.imgOneSgn.push(img)
            },
            aprobarCancelado(id){
               axios.get(urlpg +'final/'+ id + '/' + 1).then(response=>{
                 var status = response.data.status;
                 var msm = response.data.msm;
                  if(status){
                    $.notify({
                      // options
                        message: 'Cancelado.' 
                      },{
                        // settings
                        type: 'success'
                      });
                      this.entregas = response.data.et;
                    }else{                      
                      console.log(msm)
                      $.notify({
                        // options
                        message: 'No se pudo cancelar informar al administrador.' 
                      },{
                        // settings
                        type: 'danger'
                      });
                    }
               })
            },
            rechazarCancelado(){
               axios.get(urlpg +'final/'+ id + '/' + 2).then(response=>{
                 var status = response.data.status;
                 var msm = response.data.msm;
                  if(status){
                    $.notify({
                      // options
                        message: 'Restaurado' 
                      },{
                        // settings
                        type: 'success'
                      });
                      this.entregas = response.data.et;
                    }else{
                      console.log(msm)
                      $.notify({
                        // options
                        message: 'No se pudo cancelar informar al administrador.' 
                      },{
                        // settings
                        type: 'danger'
                      });
                    }
               })
            }
        }
        
    }

   
</script>