<template>
	<div>
   <table class="table table-striped- table-bordered table-hover table-checkable" id="prd">
     <thead>
       <tr>
        	<th scope="col">#</th>
          <th scope="col">Provedor</th>
           <th scope="col">Nombre usuario</th>
      		<th scope="col">Estado</th>
      		<th scope="col">Metodo pago</th>
      		<th scope="col">Ganancia screenshot</th>
      		<th scope="col">Ganancia cliente</th>
      		<th scope="col">Action</th>
       </tr>
     </thead>
     <tbody>
       <tr v-for="pg  in pagos">
         <th scope="row">{{ pg.id}}</th>
         <td>{{pg.prov}}</td>
         <td>{{pg.nombre}} {{pg.apellido}}</td>
         <td>
          <div v-if="pg.std == 'Pago realizado' || pg.idStatus == 24 || pg.idStatus == 29 || pg.idStatus == 28 || pg.idStatus == 35" >
            <span class="kt-badge kt-badge--success kt-badge--inline">{{pg.std}}</span>
          </div>
          <div v-if="pg.std == 'Pago rechazado' || pg.idStatus == 27">
            <span class="kt-badge kt-badge--brand kt-badge--inline">{{pg.std}}</span>
          </div>
         </td>
         <td>{{pg.mpago}}</td>
         <td>{{pg.tScreen}}</td>
         <td>{{pg.tClient}}</td>
         <td>
          <b-button-toolbar>
            <b-button-group class="mr-1">
              <b-button title="Mas detalles" @click="viewModal(pg.id)">
                <b-icon icon="eye" aria-hidden="true"></b-icon>
              </b-button>
              <div v-if="pg.idStatus == 28">
                <b-button title="Factura" @click="factura(pg.idPropuesta)">
                  <b-icon icon="file-earmark-text" aria-hidden="true"></b-icon>
                </b-button>
              </div>
              <div v-if="pg.idStatus == 29">
              <b-button title="Realizado" @click="depositoProceso(pg.idPropuesta,'si')">
                <b-icon icon="check" aria-hidden="true"></b-icon>
              </b-button>
              <b-button title="No realizado" @click="depositoProceso(pg.idPropuesta,'no')">
                  <b-icon icon="x" aria-hidden="true"></b-icon>
                </b-button>
              </div>
            </b-button-group>
          </b-button-toolbar>
		</td>
       </tr>

     </tbody>
   </table>
   <!--inicio  modal view -->

    <b-modal ref="my-modal-view" hide-backdrop :header-bg-variant="headerBgVariant"
      :header-text-variant="headerTextVariant" hide-header-close>
       <template v-slot:modal-title   #modal-header>
        <h2 class="titulo-pro">SCREENSHOT</h2>
      </template>
	    <div class="usuario-pro">
	  		<p class="texto-pro" v-for="name in nombre" :key="name.value"><span class="negrilla">Nombres: </span>{{name}}</p>
	  		<p class="texto-pro" v-for="name in apellido" :key="name.value"><span class="negrilla">Apellido: </span>{{name}}</p>
        <p class="texto-pro" v-for="name in misionProducto" :key="name.value"><span class="negrilla">Mision producto: </span>{{name}}</p>
        <p class="texto-pro" v-for="name in misionPropuesta" :key="name.value"><span class="negrilla">Mision Propuesta: </span>{{name}}</p>
        <p class="texto-pro" v-for="name in medio" :key="name.value"><span class="negrilla">Medio de pago: </span>{{name}}</p>
        <p class="texto-pro" v-for="name in proveedor" :key="name.value"><span class="negrilla">Presio: </span>{{name}}</p>
        <p class="texto-pro" v-for="name in estado" :key="name.value"><span class="negrilla">Estado:</span> {{name}}</p>
        <p class="texto-pro" v-for="name in comsionCliente" :key="name.value"><span class="negrilla">Comision del cliente </span>{{name}}</p>
        <p class="texto-pro" v-for="name in comisionScreen" :key="name.value"><span class="negrilla">Comision de screenshot: </span>{{name}}</p>
        <p class="texto-pro" v-for="name in transactionId" :key="name.value"><span class="negrilla">Transaccion id de coingbase: </span>{{name}}</p>
	  	</div>

    <template v-slot:modal-footer>
        <div class="w-100">
          <b-button
            variant="primary"
            size="sm"
            class="float-right"
            @click="closeModal"
          >

            Salir
          </b-button>
        </div>
      </template>
  	</b-modal>
    <!--fin modal view -->
</div>
</template>
<style scoped>
  /deep/ .my-class {
    background: black;
    color: white;
  }

  /deep/ .my-second-class > .modal-dialog > .modal-content > .modal-header {
    background: black;
    color: white;
  }

  /deep/.imagen-pro{
    max-width: 100%;
  }
</style>
<script>
    import datables from 'datatables.net'
    import notify from 'bootstrap-notify'
    var urlpg= "/table-pagos/";



    export default {
        mounted() {
            this.getPagos()
        },
        data(){
            return{
                pagos: [],
                 variants: ['primary', 'secondary', 'success', 'warning', 'danger', 'info', 'light', 'dark'],
                headerBgVariant: 'dark',
                headerTextVariant: 'light',
                nombre: [],
                apellido: [],
                misionProducto: [],
                misionPropuesta: [],
                medio: [],
                proveedor: [],
                estado: [],
                comsionCliente: [],
                comisionScreen: [],
                transactionId: [],
                idEstado: []
            }
        },
        methods:{
            mytable(){

	                $(function() {
	                $('#prd').DataTable({
                      'order'       : [[ 6, 'desc' ]],
                  });
               	});
            },

           	getPagos(){

	               axios.get(urlpg).then(response=>{
		               this.pagos = response.data;
		               this.mytable()
           			});


                setTimeout(function () {

                }, 3000)
          	},
            viewModal(id) {
              this.nombre.splice('')
              this.apellido.splice('')
              this.misionProducto.splice('')
              this.misionPropuesta.splice('')
              this.medio.splice('')
              this.proveedor.splice('')
              this.estado.splice('')
              this.idEstado.splice('')
              this.comsionCliente.splice('')
              this.comisionScreen.splice('')
              this.transactionId.splice('productView.data.transactionId')
              this.$refs['my-modal-view'].show()
              axios.get(urlpg + 'view/'+id).then(response=>{
                this.nombre.push(response.data.nombre)
                this.apellido.push(response.data.apellido)
                this.misionProducto.push(response.data.misionProducto)
                this.misionPropuesta.push(response.data.misionPropuesta)
                this.medio.push(response.data.mpago)
                this.proveedor.push(response.data.prov)
                this.estado.push(response.data.estado)
                this.comsionCliente.push(response.data.tClient)
                this.comisionScreen.push(response.data.tScreen)
                this.transactionId.push(response.data.transactionId)
                this.idEstado.push(response.data.idStatus)

              });
            },

            depositoProceso(id,status){
               axios.get(urlpg + 'deposito/'+id+'/'+status).then(response=>{
                  var status = response.data.status;

                  if(status){
                    $.notify({
                      // options
                        message: 'Depositado.'
                      },{
                        // settings
                        type: 'success'
                      });
                      this.pagos = response.data.prd;
                       setTimeout( this.$refs['my-modal-editar'].hide(), 3000);
                    }else{
                      $.notify({
                        // options
                        message: 'No se pudo procesar.'
                      },{
                        // settings
                        type: 'danger'
                      });
                    }
              });

            },
            factura(id){

              window.open('descargar/factura/'+ id, '_blank');
            },

            closeModal(){
              this.$refs['my-modal-view'].hide()
            },
        }

    }


</script>
