<template>
	<div>
   <table class="table table-striped- table-bordered table-hover table-checkable" id="prd">
     <thead>
       <tr>
        	<th scope="col">#</th>
          <th scope="col">Tipo</th>
        	<th scope="col">Nombre</th>
      		<th scope="col">Apellido</th>
      		<th scope="col">Anuncio</th>
      		<th scope="col">Estado</th>
      		<th scope="col">creado</th>
      		<th scope="col">Action</th>
       </tr>
     </thead>
     <tbody>
       <tr v-for= "prd  in product">
         <th scope="row">{{ prd.id}}</th>
         <th>
           <div v-if="prd.tipo == 1">
             <span class="kt-badge kt-badge--brand kt-badge--inline">Pr</span>
           </div>
           <div v-else>
             <span class="kt-badge kt-badge--success kt-badge--inline">Ms</span>
           </div>

         </th>
         <td>{{prd.name}}</td>
         <td>{{prd.apellido}}</td>
         <td>{{prd.mision}}</td>
         <td>
            <div v-if="prd.id_estados_anuncios == 1 || prd.id_estados_anuncios == 6 || prd.id_estados_anuncios == 5 || prd.id_estados_anuncios == 11 || prd.id_estados_anuncios == 30">
             <span class="kt-badge kt-badge--brand kt-badge--inline">{{prd.estado}}</span>
            </div>
            <div v-if="prd.id_estados_anuncios == 2 || prd.id_estados_anuncios == 12 || prd.id_estados_anuncios == 8 || prd.id_estados_anuncios == 19 || prd.id_estados_anuncios == 32 || prd.id_estados_anuncios == 20 || prd.id_estados_anuncios == 26 || prd.id_estados_anuncios == 28 || prd.id_estados_anuncios == 24 || prd.id_estados_anuncios == 35"><!--aprobados-->
              <span class="kt-badge kt-badge--success kt-badge--inline">{{prd.estado}}</span>
            </div>
            <div v-if="prd.id_estados_anuncios == 3 || prd.id_estados_anuncios == 22">
              <span class="kt-badge kt-badge--danger kt-badge--inline">{{prd.estado}}</span>
            </div>
             <div v-if="prd.id_estados_anuncios == 4">
              <span class="kt-badge kt-badge--warning kt-badge--inline">{{prd.estado}}</span>
            </div>
          </td>
         <td>{{prd.created_at}}</td>
         <td>
          <b-button-toolbar>
            <b-button-group class="mr-1">
              <b-button title="Mas detalles" @click="viewModal(prd.id)">
                <b-icon icon="eye" aria-hidden="true"></b-icon>
              </b-button>
              <div v-if="prd.id_estados_anuncios == 1 || prd.id_estados_anuncios == 6 || prd.id_estados_anuncios == 5">
                <b-button title="Aprovar" @click="aprovar(prd.id)">
                  <b-icon icon="check" aria-hidden="true"></b-icon>
                </b-button>
              </div>
              <div v-if="prd.id_estados_anuncios == 1  || prd.id_estados_anuncios == 6 || prd.id_estados_anuncios == 5">
              <b-button title="Rechazar" @click="rechazar(prd.id,prd.id_usuario)">
                <b-icon icon="x" aria-hidden="true"></b-icon>
              </b-button>
              </div>
              <div v-if="prd.id_estados_anuncios == 1 || prd.id_estados_anuncios == 5">
              <b-button title="Verificar" @click="viewModalEditar(prd.id,prd.id_usuario)">
                <b-icon icon="brush" aria-hidden="true"></b-icon>
              </b-button>
              </div>
            </b-button-group>
          </b-button-toolbar>
		</td>
       </tr>

     </tbody>
   </table>
    <div>
    <b-modal ref="my-modal" hide-backdrop :header-bg-variant="headerBgVariant"
      :header-text-variant="headerTextVariant" hide-header-close>
       <template v-slot:modal-title   #modal-header>
        <h2 class="titulo-pro">SCREENSHOT</h2>
      </template>
	  	<div class="usuario-pro">
	  		<p class="texto-pro" v-for="name in mision" :key="name.value">{{name}}</p>
	  		<p class="texto-pro" v-for="name in user" :key="name.value">{{name}}</p>
	  		<p class="texto-pro" v-for="name in presio" :key="name.value"><span class="negrilla">Precio:</span> {{name}} USD</p>
        <p  v-if="descripcion.length === 0" class="texto-pro"><span class="negrilla">Descripción:</span></p>
        <div v-else>
        <p  v-for="name in descripcion" class="texto-pro" :key="name.value"><span class="negrilla">Descripción: </span>{{ name }}</p>
        </div>


	  		<div v-for="name in imgOne" :key="name.value"><img v-bind:src="`../../imagenesproductos/${name}`" class = 'imagen-pro'></div>
	  	</div>
	  	<div class="contenido-img">

			<div class="cada-img" @click="viewImage(name.nombreImagen)" v-for="name in imagenes" :key="name.id"><img v-bind:src="`../../imagenesproductos/${name.nombreImagen}`" class="imagenes-contiene"></div>

		</div>
    <template v-slot:modal-footer>
        <div class="w-100">
          <b-button
            variant="primary"
            size="sm"
            class="float-right"
            @click="closeModal"
          >

            Salir
          </b-button>
        </div>
      </template>
  	</b-modal>
	</div>
  <div>
    <b-modal ref="my-modal-editar" hide-backdrop :header-bg-variant="headerBgVariant"
      :header-text-variant="headerTextVariant" hide-header-close>
       <template v-slot:modal-title   #modal-header>
        <h2 class="titulo-pro">SCREENSHOT</h2>
      </template>
      <h4>Mensaje</h4>
	  	 <b-form-textarea
            id="editarmsm-input"
            v-model="editarmsm"
            required
          ></b-form-textarea>
    <template v-slot:modal-footer>
       <div class="w-100">

      <b-button class="mt-2" variant="outline-success" block @click="editar">Enviar</b-button>
      <br>
          <b-button
            variant="primary"
            size="sm"
            class="float-right"
            @click="closeModal" >
            Salir
          </b-button>
        </div>
      </template>
  	</b-modal>
	</div>

</div>
</template>
<style scoped>
  /deep/ .my-class {
    background: black;
    color: white;
  }

  /deep/ .my-second-class > .modal-dialog > .modal-content > .modal-header {
    background: black;
    color: white;
  }

  /deep/.imagen-pro{
    max-width: 100%;
  }
</style>
<script>
    import datables from 'datatables.net'
    import notify from 'bootstrap-notify'
    var urlproduct= "/table-productos-misiones/";



    export default {
        mounted() {
            this.getProducts()
        },
        data(){
            return{
                product: [],
                descripcion: [],
                mision: [],
                user: [],
                imagenes: [],
                variants: ['primary', 'secondary', 'success', 'warning', 'danger', 'info', 'light', 'dark'],
                headerBgVariant: 'dark',
                headerTextVariant: 'light',
                images: false,
                imgOne: [],
                tipo: [],
                presio: [],
                tableData: [],
                editarmsm: '',
            }
        },
        methods:{
            mytable(){

	                $(function() {
	                $('#prd').DataTable({
                      'order'       : [[ 6, 'desc' ]],
                  });
               	});
            },

           	getProducts(){

	               axios.get(urlproduct).then(response=>{
		               this.product = response.data;
		               this.mytable()
           			});


                setTimeout(function () {

                }, 3000)
          	},

	        viewModal(id) {
            this.images = false
            this.imgOne.splice('')
            this.descripcion.splice('')
            this.user.splice('')
            this.mision.splice('')
            this.tipo.splice('')
            this.presio.splice('')
	        	axios.get(urlproduct+id).then(response=>{
	            var productView = response;
	        	  this.$refs['my-modal'].show()
	            this.descripcion.push(productView.data.misionDetalladamente)
              this.user.push(productView.data.usuario.name)
              this.mision.push(productView.data.mision)
              this.tipo.push(productView.data.id_tipo)
              this.imagenes = productView.data.imagenende_varios
              this.presio.push(productView.data.propuestas.presio)
       			});


		      },

          viewImage(img){
            this.imgOne.splice('')
            this.images = true
            this.imgOne.push(img)
          },
          closeModal(){
            this.descripcion.splice('')
            this.user.splice('')
            this.mision.splice('')
            this.$refs['my-modal'].hide()
            this.$refs['my-modal-editar'].hide()
          },

          aprovar(id){

            axios.get(urlproduct +'aprovar/'+id).then(response=>{
            var status = response.data.status;

            if(status){
              $.notify({
                // options
                  message: 'Aprovado.'
                },{
                  // settings
                  type: 'success'
                });
                this.product = response.data.prd;

              }else{
                $.notify({
                  // options
                  message: 'Ya fue aprovado.'
                },{
                  // settings
                  type: 'danger'
                });
              }
            });

          },

          rechazar(id,id_usuario){

            axios.get(urlproduct +'rechazar/'+id+'/'+id_usuario).then(response=>{
            var status = response.data.status;

            if(status){
              $.notify({
                // options
                  message: 'Rechazado.'
                },{
                  // settings
                  type: 'success'
                });
                this.product = response.data.prd;

              }else{
                $.notify({
                  // options
                  message: 'Ya fue rechazado.'
                },{
                  // settings
                  type: 'danger'
                });
              }
            });

          },
          viewModalEditar(id,id_usuario) {
            this.$refs['my-modal-editar'].show()
            this.idUsuario = id_usuario
            this.idProducto	= id
          },

          editar(){
              let post = {
                  mensaje: this.editarmsm,
                  id_usuario: this.idUsuario,
                  id_producto:this.idProducto,
                };
                axios.post(urlproduct+'editar', post).then((response) => {
                  var status = response.data.status;

                  if(status){
                    $.notify({
                      // options
                        message: 'Enviado.'
                      },{
                        // settings
                        type: 'success'
                      });
                      this.product = response.data.prd;
                       setTimeout( this.$refs['my-modal-editar'].hide(), 3000);
                    }else{
                      $.notify({
                        // options
                        message: 'No se pudo enviar.'
                      },{
                        // settings
                        type: 'danger'
                      });
                    }
                });
          }
        }

    }


</script>
