@import url('https://fonts.googleapis.com/css?family=Nunito:900|Source+Sans+Pro:400,700');
body{
margin:0;}
.contenedor{
max-width:1280px;
margin:0 auto;}
.head{
margin:77px auto 0 auto;
}
.titulo{
font-family: 'Nunito', sans-serif;
color:#000000;
text-align:center;
font-size:40px;
margin:0;
}
.sub{
text-align:center;
margin:0;
font-family:'Source Sans Pro', sans-serif;
color:#000000;}
.part{
margin-top:77px;
display:flex;
}
.palabras{
display:inline-block;
}
.uno{
margin-left:5%;
width:26%;}
.palabra{
font-family:'Source Sans Pro', sans-serif;
list-style:none;
font-size:19px;
margin-bottom:7px;
color:#000000;
font-weight: 700;}
.cont{
width:50%;
margin-left:30%;}
.unico{
color:#E63721;
font-weight:bolder;}
.formulario{
display:inline-block;
width:90%;
background:#fff;
border-radius:10px;
box-shadow: 14px 11px 30px 2px rgba(0,0,0,0.75);}
.icono{
font-size:30px;
color:#E63721;}
.bloque{
display:block;
margin-bottom:10px;
padding:26px 0 0 70px;
}
.form{
margin-left:15px;
width:70%;
height:22px;
border-radius:10px;
border-style:none;
padding-left:10px;
background:#D7D5D5;
}
.sin{
padding-top:0;}
.olvido{
font-family:'Source Sans Pro', sans-serif;
color:#fff;
text-decoration:none;}
.text{
margin:0 auto;
width:300px;
font-size:12px;
text-align:center;
color:#000000;}
.inicio{
margin:10px auto 10px auto;
display:block;
border-style:none;
background:#E63721;
font-size:16px;
color:#fff;
border-radius:7px;
padding:7px;}
.margen{
margin-bottom:20px;}
@media screen and (max-width:770px){
.contenedor{
width:100%}
.part{
display:block;}
.uno{
display:none;}
.formulario{
display:block;
margin:0 auto;}
.bloque{
padding-left:16%;}
.margen{
padding-bottom:20px;}
@media screen and (max-width:465px){
.bloque{
padding-left:10%;}
}
}
@media screen and (min-width:771px) and (max-width:1174px){
.contenedor{
width:100%}
.uno{
width:50%;
margin-left:0;}
.cont{
width:50%;
margin-left:10%}
@media screen and (max-width:922px){
.bloque{
padding-left:10%;}

}
}
@media screen and (min-width:1175px){
.contenedor{
width:100%;}
.palabras{
padding:0;}

}

