@import url(https://fonts.googleapis.com/css?family=Alegreya:700|Source+Sans+Pro:400,700);
/*font-family: 'Alegreya', serif;
font-family: 'Source Sans Pro', sans-serif;
*/
*{
	box-sizing:border-box;
}
body{
	font-size:16px;
	background:#66B034;
	box-sizing:border-box;
	font-family: 'Source Sans Pro', sans-serif;
	
	
}
	
.contenedor{
	width:819px;
	height:auto;
	margin:auto;
}
.caja{
	height:auto;
	width:100%;
	position:relative;
}
.columna{
	height:auto;
	width:33%;
	background-color:#fff;
	display:inline-block;
	vertical-align:top;
	padding:10px;
	min-height:213px;
}
.item-menu{
	color:#fff;
	display:inline-block;
	width:19%;
	font-size:1rem;
	text-align:center;
	text-transform:capitalize;
	background-color:#84BF5C;
	padding: 6px 0;
	border:1px solid #618A37;
	border-radius:10px;
	text-shadow:3px 3px 3px #000;
	box-shadow:2px 2px 8px #666;

	}
.item-menu:hover{
	background-color:peru;
}
.titulo1{
	font-family: 'Alegreya', serif;
	font-size:2em;
	position:absolute;
	left:5%;
	top:8%;
	width:50%;
	}
.banner{
	margin-top:25px;
	}
.titulo2{
	background:lightgray url(../imagenes/icon_chevron.png) no-repeat scroll 95% center;
	font-size:1em;
	text-transform:capitalize;
	padding:5px;
	margin:0 0 10px;
}
.pie{
	position:relative;
	margin-top:15px;}
.parrafo-pie{
	margin:0;
	padding:0;}
.parrafo-pie:first-child{
	color:#fff;}
.parrafo-pie:last-child{
	position:absolute;
	top:0;
	right:0;
	}
.colo50{
	display:inline-block;
	width:45%;
	vertical-align:top;
	margin-top:30px;
	padding:0 15px;
	
}
.label{
color:#fff;
display:block;
margin-bottom:5px;
}
.input{
	border:none;
	height:30px;
	font-family: 'Source Sans Pro', sans-serif;
	width:250px;
	border-radius:8px;
	font-size:1.1em;
	padding:0 5px;
	margin-bottom:15px;
	width:350px;
	
}
.textarea{
	height:6em;
}
.boton{
	border:none;
	color:#fff;
	display:inline-block;
	width:50%;
	font-size:1rem;
	text-align:center;
	text-transform:capitalize;
	background-color:#84BF5C;
	padding: 6px 0;
	border:1px solid #618A37;
	border-radius:10px;
	text-shadow:3px 3px 3px #000;
	box-shadow:2px 2px 8px #666;
	margin-left:55%;
}