@import url('https://fonts.googleapis.com/css?family=Nunito:700|Source+Sans+Pro:400,600&display=swap');
body{
margin:0;}
.contenedor{
max-width:1280px;
margin:0 auto;}
.head{
margin:30px auto 0 auto;
}
.titulo{
font-family: 'Nunito', sans-serif;
color:#000000;
text-align:center;
font-size:40px;
margin:0;
}
.sub{
text-align:center;
margin:0;
font-family:'Source Sans Pro', sans-serif;
color:#000000;}
.part{
margin-top:77px;

}
.palabras{
display:grid;
align-items: center;
background-color: #fff;
grid-template-columns: repeat(4, 1fr);
}
.uno{
}
.palabra{
font-family:'Source Sans Pro', sans-serif;
list-style:none;
font-size:17px;
margin-bottom:7px;
color:#000;
text-align: center;
font-weight: 700;
padding: 0;}
.cont{
width:50%;
margin: 0 auto;}
.unico{
color:#E63721;
font-weight:bolder;}
.formulario{
display:inline-block;
width:100%;
background:#fff;
border-radius:10px;
box-shadow: 14px 11px 30px 2px rgba(0,0,0,0.75);}
.icono{
font-size:30px;
color:#E63721;}
.bloque{
display:block;
margin-bottom:10px;
padding:26px 0 0 70px;
}
.form{
margin-left:15px;
width:70%;
height:22px;
border-radius:10px;
border-style:none;
padding-left:10px;
background:#D7D5D5;
}
.sin{
padding-top:0;}
.olvido{
font-family:'Source Sans Pro', sans-serif;
color:#fff;
text-decoration:none;}
.text{
margin:0 auto;
width:300px;
font-size:12px;
text-align:center;
color:#000000;}
.inicio{
margin:10px auto 10px auto;
display:block;
border-style:none;
background:#E63721;
font-size:16px;
color:#fff;
border-radius:7px;
padding:7px;}
.margen{
margin-bottom:20px;}
.ojo{
margin-right:10px;
}
.solo{
display: block;
width: 200px;
text-align: center;
color:#fff;
font-family:'Source Sans Pro', sans-serif;
padding: 12px;
margin: 30px auto;
background:#E63721;
text-decoration: none;
border-radius:7px;
}
.pie{
display:grid;
background-color:#000;
grid-template-columns: repeat(7,1fr);
align-content: center;
position: fixed;
bottom: 0;
width: 100%;
height: 61px;
}
.redes{

text-align: center;
margin: 0 20px;
}
.up{
width: 100%;
background-color:#1A1A1A;
position: fixed;
bottom: 61px;
}
.derechos{
margin: 0;
padding: 0;
font-family:'Source Sans Pro', sans-serif;
font-weight: 400;
color:#575757;
height: 29px;
text-align: center;
}
.univone{
text-decoration: none;
color:#575757;
}
.pie-iconos{
margin-left: 12%;
font-size: 19px;
color: #fff;
}
.icons{
color: #fff;
}
.fa-facebook, .fa-instagram, .fa-twitter{
color: #fff;
text-decoration: none;
}
.pie-info,.primero,.segundo, .tercero{
color:#fff;
font-family:'Source Sans Pro', sans-serif;
text-decoration: none;
font-size:13px;
font-weight: 600;
text-align: center;
}
.pie-info, .primero:hover{
text-decoration:underline;
}
.pie-info, .segundo:hover{
text-decoration:underline;
}
.pie-info, .tercero:hover{
text-decoration:underline;
}
.pie-iconos{
color:#fff;
text-decoration: none;
}
@media screen and (max-width:770px){
.contenedor{
width:100%}
	.cont{
width: 86%;
margin:0 auto;;
	}
	.palabras{
margin: 0 auto;
padding: 0;
grid-template-columns: 1fr;
	}
	.palabra{
font-size:14px;
	}
.part{
display:block;}
.formulario{
display:block;
margin:0 auto;}
.bloque{
padding-left:16%;}
.margen{
padding-bottom:20px;}
	.up{
bottom: 80px;
	}
	.solo{
margin-top: 36px;
	}
	.part{
margin-top: 25px;
	}
	.pie-iconos{
margin-left: 3%;
	}
	.redes{
grid-column-start: 1;
grid-column-end: 3;
	}
.pie{
height: auto;
grid-template-columns:50% 50%;
grid-template-rows:repeat(4,20px);
}
.segundo{
grid-row-start:2;
	}
	.pie-info{
font-size: 11px;
	}
	.derechos{
font-size: 13px;
	}
.tercero{
grid-row-start:3;
	}
@media screen and (max-width:465px){
.bloque{
padding-left:10%;}
.pie{
grid-template-columns:50% 50%;
grid-template-rows:repeat(4,20px);
}
.segundo{
grid-row-start:2;
	}
.tercero{
grid-row-start:3;
	}
}
}
@media screen and (min-width:771px) and (max-width:1174px){
.contenedor{
width:100%}
	.palabras{
padding: 0;
	}
.palabra{
font-size: 15px;
}

@media screen and (max-width:922px){
.bloque{
padding-left:10%;}

}
}
@media screen and (min-width:1175px){
.contenedor{
width:100%;}
.palabras{
padding:0;}

}

