@import url('https://fonts.googleapis.com/css?family=Nunito:700|Source+Sans+Pro&display=swap');
*{box-sizing:border-box;}
body{
margin:0;
padding-top:56px;}
.menu_bar{
margin:0;
font-family: 'Nunito', sans-serif;
display:inline-block;
margin-left:10%;
font-weight:700;
}
.interno{
display:inline-block;
margin-left:11%;
}
.enlace{
text-decoration:none;
font-family:'Source Sans Pro', sans-serif;
color:#fff;
border-left:1px solid #fff;
padding-left:9px;}
.enlace:hover{
text-decoration:underline;}
.bt-menu{
text-decoration:none;
color:#fff;
font-size:27px;
}
.fa-bell{
animation-duration:1s;
animation-delay:1s;
transform-origin: top;
animation-iteration-count:10;
animation-timing-function: ease-in-out;
animation-direction: alternate;
}

.desplegar{
display:none;}
.cont{
width:100%;
background:#000000;
position:fixed;
top:0;
z-index:1000;
}
.acomodar{
width:1280px;
margin:0 auto;}
.lista{
list-style:none;
display:inline-block;
font-size:19px;
padding-right:15px;}
.der{
padding-right:5px;}
.final{
border-right:1px solid #fff;
padding-right:9px;}

@keyframes notificacion{
0%{
transform: rotate(40deg);
}
30%{
transform: rotate(-40deg);	
}
45%{
transform: rotate(30deg);			
}
60%{
transform: rotate(-30deg);		
}
75%{
transform: rotate(20deg);		
}
90%{
transform: rotate(-20deg);		
}
100%{
transform: rotate(0deg);
}
}
@media screen and (max-width:950px){
body{
padding-top:52px;}
.titulo{
margin-left:2%;}
.interno{
width: 60%;
height:100%;
position: fixed;
right:100%;
margin: 0;
overflow: scroll;
background:#000000;
z-index:1000;}
.lista{
display:block;
border-bottom:1px solid #fff;
padding:12px;}
.enlace{
border-left:none;}
.final{
border-right:none;}
.menu_bar{
display:block;
width:100%;
margin-left:3%;
padding:12px;}
.desplegar{
display:inline-block;}
.list{
padding:0;}
}
@media screen and (min-width:951px) and (max-width:1041px){
.cont{
width:100%;}
.menu_bar, .tittle{
margin-left:8%;}
.interno{
margin-left:3%;}
.bt-menu{
font-size:25px;}
.lista{
font-size:15px;}
body{
padding-top:54px;}
}
@media screen and (min-width:1042px) and (max-width:1223px){
.cont{
width:100%;}
.menu_bar{
margin-left:8%;}
.interno{
margin-left:6%;}
.bt-menu{
font-size:25px;}
.lista{
font-size:17px;}
body{
padding-top:54px;}
@media screen and (max-width:1075px){
.interno{
margin-left:3%;}
}
}
@media screen and (min-width:1224px) and (max-width:1270px){
.cont{
width:100%;}
.menu_bar{
margin-left:8%;}
.interno{
margin-left:11%;}

}





