<template>
  <div>
    <b-form @reset="onReset" v-if="show">
        <b-container class="bv-example-row">
            <b-row>
            <b-form-group
                id="input-group-1"
                label="Nombre:"
                label-for="input-1"
                description=""
            >
                <b-form-input
                id="input-1"
                v-model="form.name"
                type="text"
                required
                placeholder="Token"
                :disabled="disabled"
                ></b-form-input>
            </b-form-group>

            <b-form-group
                id="input-group-1"
                label="Apellido:"
                label-for="input-1"
                description=""
            >
                <b-form-input
                id="input-1"
                v-model="form.apellido"
                type="text"
                required
                placeholder="Token"
                :disabled="disabled"
                ></b-form-input>

            </b-form-group>

                <b-form-group
                id="input-group-1"
                label="Email:"
                label-for="input-1"
                description=""
            >
                <b-form-input
                id="input-1"
                v-model="form.email"
                type="text"
                required
                placeholder="Token"
                :disabled="disabled"
                ></b-form-input>

            </b-form-group>

                <b-form-group
                id="input-group-1"
                label="Numero documento:"
                label-for="input-1"
                description=""
            >
                <b-form-input
                id="input-1"
                v-model="form.numeroDocumento"
                type="text"
                required
                placeholder="Token"
                :disabled="disabled"
                ></b-form-input>

            </b-form-group>

              <b-form-group
                id="input-group-1"
                label="Username:"
                label-for="input-1"
                description=""
            >
                <b-form-input
                id="input-1"
                v-model="form.username"
                type="text"
                required
                placeholder="Token"
                :disabled="disabled"
                ></b-form-input>

            </b-form-group>
        </b-row>
        </b-container>

        <!--actualizar contraseña -->
         <b-container class="bv-example-row">
            <b-row>
         <b-form-group
             v-if="btact"
                id="input-group-1"
                label="Contraseña anterior:"
                label-for="input-1"
                description=""
            >
                <b-form-input
                id="input-1"
                v-model="form.pwold"
                type="password"
                required
                placeholder="Contraseña anterior"

                ></b-form-input>

            </b-form-group>

                <b-form-group
                v-if="btact"
                id="input-group-1"
                label="Nueva contraseña:"
                label-for="input-1"
                description=""
            >
                <b-form-input
                id="input-1"
                v-model="form.pwNow"
                type="password"
                required
                placeholder="Nueva contraseña"
                ></b-form-input>

            </b-form-group>

              <b-form-group
                id="input-group-1"
                v-if="btact"
                label="Confirmar contraseña:"
                label-for="input-1"
                description=""
            >
                <b-form-input
                id="input-1"
                v-model="form.pwNowConfirm"
                type="password"
                required
                placeholder="Confirmar contraseña"
                ></b-form-input>

            </b-form-group>

              </b-row>
</b-container>
    <b-button v-if="btact"  variant="primary"  @click="onSubmit">Actualizar</b-button>
    <b-button v-if="btPwEdt"  variant="primary" @click="actualizaContrasena">Cambiar contraseña</b-button>
    </b-form>
  </div>
</template>

<script>
    import notify from 'bootstrap-notify'
    var url= "/admin/mi-perfil/";

  export default {
    mounted() {
        this.getPerfil()
    },
    data() {
      return {
        form: {
          name: '',
          apellido: '',
          email: '',
          numeroDocumento: '',
          username: ''
        },
        show: true,
        btact: false,
        btPwEdt: true,
        disabled:true,
      }
    },
    methods: {
      onSubmit(evt) {
        if (this.form.pwNow != this.form.pwNowConfirm ) {
              $.notify({
            // options
                message: 'Contraseña nuevas no coincide',
            // settings
                type: 'danger'
            });
            return;
        }


        evt.preventDefault()
           axios.post(url + 'update', {
            data: this.form
        })
        .then(response=>{
            if (response.data.status) {
                $.notify({
                    // options
                    message: response.data.msm
                },{
                    // settings
                    type: response.data.type
                });
                this.disabled = true
                this.btPwEdt = true
                this.btact = false
            }else{
                $.notify({
                // options
                    message: response.data.msm
                },{
                // settings
                    type: response.data.type
                });
            }
        })
        .catch(function (error) {
            $.notify({
            // options
                message: 'Error,' + error
            },{
            // settings
                type: 'danger'
            });
        });
      },
      onReset(evt) {
        evt.preventDefault()
        // Reset our form values
        this.form.name = ''
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      },
      	getPerfil(){
            axios.get(url + 'list').then(response=>{
                this.form.name = response.data.name
                this.form.apellido = response.data.apellido
                this.form.email = response.data.email
                this.form.numeroDocumento = response.data.numero_documento
                this.form.username = response.data.username
            });
        },
        actualizaContrasena(){
            this.btact = true
            this.btPwEdt = false
        }
    }
  }
</script>
