<template>
  <div>
    <b-form @reset="onReset" v-if="show">
      <b-form-group
        id="input-group-1"
        label="token coingbase:"
        label-for="input-1"
        description=""
      >
        <b-form-input
          id="input-1"
          v-model="form.tokenCoing"
          type="text"
          required
          placeholder="Token"
          :disabled="disabled"
        ></b-form-input>
      </b-form-group>
      <b-form-group
        id="input-group-1"
        label="Email administrador:"
        label-for="input-1"
        description=""
      >
        <b-form-input
          id="input-1"
          v-model="form.emailAdmin"
          type="email"
          required
          placeholder="Email"
          :disabled="disabled"
        ></b-form-input>
         <b-button v-if="btamail"  variant="primary"  @click="testMail">Enviar test correo</b-button>
      </b-form-group>
      <b-form-group
        id="input-group-1"
        label="redes-sociales facebook:"
        label-for="input-1"
        description=""
      >
        <b-form-input
          id="input-1"
          v-model="form.redsocial_facebook"
          type="text"
          required
          placeholder="Facebook"
          :disabled="disabled"
        ></b-form-input>
      </b-form-group>
      <b-form-group
        id="input-group-1"
        label="redes-sociales twitter :"
        label-for="input-1"
        description=""
      >
        <b-form-input
          id="input-1"
          v-model="form.redsocial_twitter"
          type="text"
          required
          placeholder="Twitter"
          :disabled="disabled"
        ></b-form-input>
      </b-form-group>
      <b-form-group
        id="input-group-1"
        label="redes-sociales instagram:"
        label-for="input-1"
        description=""
      >
        <b-form-input
          id="input-1"
          v-model="form.redsocial_instagram"
          type="text"
          required
          placeholder="Instagram"
          :disabled="disabled"
        ></b-form-input>
      </b-form-group>
        <b-button v-if="btact"  variant="primary"  @click="onSubmit">Actualizar</b-button>
        <b-button v-if="btaedt"  variant="primary" @click="editar">Editar</b-button>
    </b-form>
  </div>
</template>

<script>
    import notify from 'bootstrap-notify'
    var url= "/configuracion-sistema/";

  export default {
    mounted() {
        this.getConf()
    },
    data() {
      return {
        form: {
          tokenCoing: '',
          emailAdmin: '',
          redsocial_facebook: '',
          redsocial_twitter: '',
          redsocial_instagram: ''
        },
        show: true,
        btamail: true,
        btact: false,
        btaedt: true,
        disabled:true,
      }
    },
    methods: {
      onSubmit(evt) {
        evt.preventDefault()
           axios.post(url + 'update', {
            data: this.form
        })
        .then(response=>{
            if (response.data.status) {
                $.notify({
                    // options
                    message: response.data.msm
                },{
                    // settings
                    type: response.data.type
                });
                this.disabled = true
                this.btaedt = true
                this.btact = false
                this.btamail = true
            }else{
                $.notify({
                // options
                    message: response.data.msm
                },{
                // settings
                    type: response.data.type
                });
            }
        })
        .catch(function (error) {
            $.notify({
            // options
                message: 'Error,' + error
            },{
            // settings
                type: 'danger'
            });
        });
      },
      onReset(evt) {
        evt.preventDefault()
        // Reset our form values
        this.form.tokenCoing = ''
        this.form.emailAdmin = ''
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      },
      	getConf(){
            axios.get(url + 'list').then(response=>{
                this.form.tokenCoing = response.data.key_coingbase
                this.form.emailAdmin = response.data.email_admin
                this.redsocial_facebook = response.data.redsocial_facebook
                this.redsocial_twitter = response.data.redsocial_twitter
                this.redsocial_instagram = response.data.redsocial_instagram
            });
        },
        editar(){
            this.btact = true
            this.btaedt = false
            this.disabled = false
            this.btamail = false
        },
        testMail(){
           axios.get(url + 'test-mail').then(response=>{
                if(response.data.status){
                   $.notify({
                // options
                    message: response.data.msm
                },{
                // settings
                    type: response.data.type
                });
                }
            });
        }
    }
  }
</script>
