@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
body{
padding: 56px 0px 0px 0px;
margin: 0;

}
.contenedor-informativo{



}
.fondo-informativo{
background:#000;
width: 100%;
position: fixed;
top: 0px;
z-index: 1000;
display: grid;
grid-template-columns:repeat(2, 1fr);
justify-items:center;
align-items: center;
max-width: 1280px;
margin: 0 auto;
left: 0;
right: 0;
}
.titulo-informativo{
color: #fff;
font-family: 'Nunito', sans-serif;
font-weight: 800;
margin: 0 auto;
max-width: 1280px;
padding: 10px;
}
.link-info{
text-decoration: none;
color: #fff;
}