@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900&display=swap');
body{
background-color: #1A1A1A;
}
*{
box-sizing: border-box;
}
.contenedor-publicar{
max-width: 1280px;
margin: 0 auto;
}
.imagen-uno-publicar{
max-width: 100%;
height: 555px;
}
.portada-publicar{
display: grid;
grid-template-columns: 65% 35%;
}
.caja-uno-publicar{
background-color: #000000;
display: grid;
justify-items: center;
grid-auto-rows: max-content;
height: 555px;
}
.uno-publicar-anuncio, .titulo-uno-publicar{
font-family:'Source Sans Pro', sans-serif;
color: #fff;
font-weight: 900;
}
.uno-publicar-anuncio{
font-size:115px;
margin: 25px 0 0 0 ;
}
.titulo-uno-publicar{
font-size:38px;
margin: 0;
}
.titulo-dos-publicar{
font-family:'Source Sans Pro', sans-serif;
font-weight: 900;
color: #fff;
}
.texto-uno-publicar{
width: 80%;
color: #fff;
font-weight: 400;
font-family:'Source Sans Pro', sans-serif;
}
.texto-dos-publicar{
font-family:'Source Sans Pro', sans-serif;
font-weight: 400;
color: #fff;
width: 96%;
text-align: justify;

}
.caja-dos-publicar{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
background-color: #1A1A1A;
padding: 23px;
color: #fff;
}
.icono-publicar{
font-size:33px;
}
@media screen and (max-width:499px){
.contenedor-publicar{ 
width:100%;}
.portada-publicar{
grid-template-columns:1fr;
	}
.imagen-uno-publicar{
height: auto;
}
.caja-uno-publicar{
height: auto;
	}
.caja-dos-publicar{
grid-template-columns:1fr;
padding: 37px;
grid-row-gap:32px;
	}
.texto-uno-publicar{
margin-bottom: 69px;
}
.texto-dos-publicar{
width: 100%;
}
}
@media screen and (min-width:500px) and (max-width:982px){
.contenedor-publicar{
width:100%;}
	.portada-publicar{
grid-template-columns:1fr;
	}
.imagen-uno-publicar{
height: auto;
}
.caja-uno-publicar{
height: auto;
	}
.caja-dos-publicar{
grid-template-columns:1fr;
padding: 37px;
grid-row-gap:32px;
	}
.texto-uno-publicar{
margin-bottom: 69px;
}
.texto-dos-publicar{
width: 100%;
}
}
@media screen and (min-width:983px){
.contenedor-publicar{
width:100%;}


}