@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Source+Sans+Pro:wght@400;700&display=swap');
*{
box-sizing: border-box;
margin: 0;
}
.contenedor-legal{
max-width:100%;
margin:0 auto;
background: rgba(76,76,76,.4);
height: 100vh;}
.ini-legal{
font-family: 'Nunito', sans-serif;
font-weight: 800;
color: #FFFFFF;
text-decoration: none;
font-size: 26px;
}
.sub-legal{
font-family: 'Source Sans Pro', sans-serif;
color:#E69215;
font-size: 30px;
font-weight: 700;
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end: 2;
text-align: center;
}
.logo-thito{
margin: 0 auto;
max-width:1280px;
padding: 14px;
}
.legal-bienvenida{
font-family: 'Source Sans Pro', sans-serif;
font-weight: 400;
color: #FFFFFF;
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 2;
grid-row-end: 3;
font-size: 17px;
text-align: center;
}
.alinear-legal{
display: grid;
height: 80vh;
justify-content: center;
align-content: center;

}
.seleccion-legal{
text-decoration: none;
color: #FFFFFF;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 400;
background-color: #E69215;
padding: 12px;
height:max-content;

}
.seccion-legal{
display:grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
justify-items:center;
grid-row-gap: 35px;
}
@media screen and (max-width:516px){
.seccion-legal{
grid-row-gap: 23px;		
}
.seccion-legal{
grid-template-rows: repeat(4, 1fr);	

}
.legal-bienvenida{
font-size:15px;	
}
.seleccion-legal{
grid-column-start: 1;
grid-column-end: 3;
}
.sub-legal{
font-size:23px; 
}
.seleccion-legal{
font-size: 13px;
}
}

@media screen and (min-width:517px) and (max-width:618px){
.seccion-legal{
grid-template-rows: repeat(4, 1fr);	

}
.seleccion-legal{
grid-column-start: 1;
grid-column-end: 3;
}

}
