@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');
/*font-family: 'Source Sans Pro', sans-serif;
font-family: 'Roboto', sans-serif;*/
.nosotros-caja{
display: grid;
grid-template-columns: 40% 60%;
}
.contenedor-somos{
width: 1280px;
margin: 0 auto;
}
.titular-somos{
background: rgba(20,20,20,1);
display: grid;
justify-items:center;
grid-auto-rows: max-content;
height: 432px;

}
.titular-dos-somos{
display: grid;
grid-auto-rows: max-content;
justify-items:center;
width: 72%;
}
.titulo-somos{
font-family: 'Source Sans Pro', sans-serif;
font-size: 35px;
color: #fff;
width: 88%;

}
.texto-uno-somos{
font-family:'Source Sans Pro', sans-serif;
color:#fff ;
font-weight: 400;
width: 87%;
}
.texto-dos-somos{
font-family:'Source Sans Pro', sans-serif;
font-weight: 400;
}
.imagen-somos{
max-width: 100%;
height: 432px;
}
.boton-somos{
margin:10px auto 10px auto;
display:block;
border-style:none;
background:#E63721;
font-size:16px;
color:#fff;
font-family: 'Source Sans Pro', sans-serif; 
font-weight: 400;
text-decoration: none;
border-radius:7px;
padding:7px;
box-shadow: inset 0 -.2em #B83721;
}
.botono-somos:active{
transform:scale(.9);
}
.somos-exp{
display: grid;
grid-template-columns: 45% 55%;
justify-items:center;
}
.titulo-dos-somos{
font-family: 'Source Sans Pro', sans-serif; 
font-weight: 900;
font-size: 38px;
}
.segunda-somos{
width: 100%;
}
.cuadros-info{
display: grid;
grid-template-columns: 30% 30% 30%;
justify-content: center;
}
.somos-iconos{
font-size: 28px;
}
.titulo-cuadro-somos{
font-family: 'Source Sans Pro', sans-serif; 
font-weight: 900;
}
.cuadro-text-somos{
font-family: 'Source Sans Pro', sans-serif; 
font-weight: 400;
width: 96%;
text-align: justify;
}
.seleccion-aqui{

}
@media screen and (max-width:964px){
.contenedor-somos{
width:100%;}

.imagen-somos{
height:auto;
}
.texto-dos-somos{
margin-bottom: 30px;
}
.contiene-imagen-somos{
grid-column-start: 1;
grid-column-end: 3;
margin-bottom: -4px;
}
.contiene-dos-somos{
grid-column-start: 1;
grid-column-end: 3;
grid-row-start:1;
grid-row-end: 2;
}
.titular-dos-somos{
grid-column-start: 1;
grid-column-end: 3;		
}
.titular-somos{
grid-row-start: 2;
grid-row-end: 3;
grid-column-start: 1;
grid-column-end: 3;
}
	.cuadros-info{
grid-template-columns: 93%;
	}
	.cuadro-text-somos{
width: 100%;
	}
@media screen and (max-width:400px){
.titular-somos{
height: max-content;
}
.boton-somos{
margin-bottom: 40px;
}
.titulo-somos{
font-size: 26px;
}
.titular-dos-somos{
width: 80%;
}
}
}
@media screen and (min-width:965px) and (max-width:1203px){
.contenedor-somos{
width:100%;}
	.titulo-somos{
font-size: 29px;
	}
}
@media screen and (min-width:1204px) and (max-width:1279px){
.contenedor-somos{
width:100%;}


}