@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');
/*font-family: 'Source Sans Pro', sans-serif;
font-family: 'Roboto', sans-serif;*/
*{
box-sizing: border-box;
}
body{
background-color:#F4F2F2
}
.medios-contenido{
max-width: 1280px;
margin: 0 auto;
}
.seccion-servicio{
display: grid;
grid-template-columns: 30% 70%;
}
.telefono-servicio{
font-size: 20px;
}
.imagen-servicio{
max-width: 100%;
width: 100%;
height: 600px;
}
.parte-dos-servicio{
display: grid;
grid-template-columns:6% 40%;
}
.titulo-servicio{
font-family: 'Source Sans Pro', sans-serif;
margin: 0;
font-size: 30px;
}
.contiene-uno-servicio{
display: grid;
grid-template-columns: 94%;
justify-content: center;
grid-auto-rows:max-content;
}
.correo-servicio{
margin: 10px 0 2px 0;
display: block;
background-color:#717171;
width: 21%;
text-align: center;
color: #fff;
padding: 7px;
border-radius: 7px;}
.contiene-dos-servicio{
background: #fff;
margin-top: 26px;
padding: 5% 4% 11% 4%;
}
.contacto-servicio{
display: block;
margin: 10px 0 10px 0;
font-weight: 900;
font-size: 23px;
margin-top: 28px;
border-top: 1px solid;
padding-top: 5%;
}
.text-info-servicio{
font-family: 'Source Sans Pro', sans-serif;
}
.logo-contacto-pago{
font-size: 24px;
color: #0088cc;
}
@media screen and (max-width:648px){
.medios-contenido{
width: 100%;
	}
.seccion-servicio{
grid-template-columns: 1fr;
}
.contiene-peque-servicio{
display: none;
}
.text-info-servicio{
font-size: 14px;
}
.correo-servicio{
width: 100%;
}
}
@media screen and (min-width:649px) and (max-width:992px){
.medios-contenido{
width: 100%;
	}
.seccion-servicio{
grid-template-columns: 1fr;
}
.contiene-peque-servicio{
display: none;
}
}