@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Source+Sans+Pro:wght@400;700&display=swap');
*{
box-sizing: border-box;
margin: 0;
}
body{
padding-top: 82px;
}
.conteiner-rul{
max-width:1280px;
margin:0 auto;
}
.cabecera-rul{
display: grid;
grid-template-columns: 50% 50%;
position: fixed;
top: 0;
background-color: #FFFFFF;
width: 100%;
max-width:1280px;
align-items: center;
padding: 13px;
}
.titulo-legal{
text-align:center;
}
.traductor-rul{
margin: 0 auto;
}
.link-rul{
text-decoration: none;
font-family: 'Nunito', sans-serif;
font-weight: 800;
color:#000000;
padding: 13px;
}
.sub-contenedores-rul{
display: grid;
grid-template-columns: 40% 60%;
justify-items:center;
margin-bottom: 52px;
}
.seccion-rul{
padding: 40px;
}
.texto-rul{
text-align: justify;
font-size: 15px;
}
.sub-titulo-rul{
color:#E69215;
margin-bottom: 10px;
}
.sub-cabecera-uno{
color:#E69215;	
}
.sub-cabecera-uno, .sub-titulo-rul, .texto-rul{
font-family: 'Source Sans Pro', sans-serif;
}
@media screen and (max-width:842px){
	
.sub-contenedores-rul{
grid-template-columns: 100%;
	}
	.sub-cabecera-uno{
margin-bottom: 20px;
text-align: center;
	}	
.seccion-rul{
padding: 17px;
}
@media screen and (max-width:842px){
.texto-rul{
font-size: 14px
}
	
.sub-cabecera-uno{
font-size: 21px;
}
.sub-titulo-rul{
font-size: 21px;
}
.titulo-legal{
font-size: 25px;
padding: 2px;
}
.link-rul{
padding: 0;
}
}
}